{% extends "PHPMBundle:PlageHoraire:layout.html.twig"  %}
{% set pageTitle = 'Edition de la plage horaire' %}
{% use "PHPMBundle::index.html.twig" %}

{% form_theme form _self %}

{% block style %}
	{{ parent() }}
	{% stylesheets 'bundles/phpm/css/tache.css' filter='cssrewrite'  %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
<form action="{{ path('plagehoraire_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <h2>Informations</h2>
    
    <div class="alert-message">{{ form_errors(form) }}</div>
    
	{{ form_row(form.tache) }}
	{{ form_row(form.debut) }}
	{{ form_row(form.fin) }}
	
	<div>
		{{ form_label(form.dureeCreneau) }} {{ form_widget(form.dureeCreneau) }}
	</div>

	<div>
		{{ form_label(form.recoupementCreneau) }} {{ form_widget(form.recoupementCreneau) }}
	</div>

	{{ form_row(form.respNecessaire) }}
	
    <h2>Besoins en Orgas</h2>
    
    {{ form_errors(form.besoinsOrga) }}
    <div id="phpm_bundle_plagehorairetype_besoinsorga" data-prototype="{{ form_widget(form.besoinsOrga.get('prototype')) | e }}">
	    {% for bo in form.besoinsOrga %}
		    <div>
		    	{{ form_errors(bo) }}
		    	{{ form_widget(bo.equipe) }}
		    	{{ form_widget(bo.nbOrgasNecessaires) }}
		    </div>
	    {% endfor %}
    </div>
    
    <a class="addbutton" id="addBOButton" href="#">+</a>
	<a class="rmbutton"  id="rmBOButton" href="#">-</a>
	
    <p>
        <button type="submit" name="action" value="save" style = "float:left">Enregistrer</button>
        <button type="submit" name="action" value="save_return" style = "float:left">Enregister et revenir à la tâche</button>
    </p>
    
    {{ form_rest(form) }}
</form>
<script type="text/javascript">
	function addTagForm() {
		var collectionHolder = $('#phpm_bundle_plagehorairetype_besoinsorga');
		
		// Get the data-prototype we explained earlier
		var prototype = collectionHolder.attr('data-prototype');
		
		// Replace '$$name$$' in the prototype's HTML to
		// instead be a number based on the current collection's length.
		form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
		
		// Display the form in the page
		collectionHolder.append(form);
		
		// On a pas à gérer la DateTimePicker, ui.js s'en occupe
	}
	
	function rmTagForm() {
		var last = $('#phpm_bundle_plagehorairetype_besoinsorga > :last-child');
		
		last.remove();
	}
	
	$('#addBOButton').click(function(event){
	    addTagForm();
	});
	$('#rmBOButton').click(function(event){
	    rmTagForm();
	});
	
	function dureer(value) {
		champ = $('#phpm_bundle_plagehorairetype_recoupementCreneau');
		
		champ.val(value);
	}
</script>

{% endblock %}
