{% extends "::base.html.twig"  %}

{% import "::macro_bouton_edit.html.twig" as bouton_edit %}
{% block title %}
	Plages horaires -> Liste des plages horaires
{% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>T&acirc;che</th>
            <th>NbOrgasNecessaires</th>
            <th>Recoupement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('plagehoraire_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('plagehoraire_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.debut %}{{ entity.debut|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.tache %}{{ entity.tache }}{% endif%}</td>
            <td>{{entity.nbOrgasNecessaires}}</td>
            <td>{{entity.recoupementCreneau}}</td>
            <td>
				{{ bouton_edit.bouton_edit( path('plagehoraire_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('plagehoraire_new') }}">
            Cr&eacute;er une nouvelle plage horaire
        </a>
    </li>
</ul>
{% endblock %}
