{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = entity.nom %}

{% block content %}
	<div id="editModal" class="modal hide fade">
  <form class="form-horizontal" action="{{ path('sponso_avancement_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Éditer le Projet</h3>
    </div>
  <div class="modal-body">
    
		<div class="row-fluid">
				<fieldset>
					    <div class="control-group">
{#					    {{ form_label(form.avancements) }}
					    {{ form_widget(form.avancements) }}#}
					    <br/>
					       {# <a class="btn btn-success" href="{{ path('sponso_contact_new') }}"><i class="icon-plus"></i>Nouveau Contact</a> #}
					    <br/>
					    {{ form_widget(form) }}
						
					    </div>
				</fieldset>
	    </div>
	{{ form_widget(form._token) }}
	
  </div>
  <div class="modal-footer">
    
    <div class="btn-toolbar">
	        <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
	        <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
	</div>
  </div>
  </form>
</div>
<div id="noteModal" class="modal hide fade">
<form class="form-horizontal" action="{{ path('sponso_avancement_addNote', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ajouter une note</h3>
  </div>
  <div class="modal-body">
    
		<div class="row-fluid">
				<fieldset>
				    <div class="control-group">

				    {{ form_widget(formNote) }}
					
				    </div>
				</fieldset>
	    </div>
	{{ form_widget(formNote._token) }}

  </div>
  <div class="modal-footer">
    
    <div class="btn-toolbar">
	        <button class="btn btn-primary" type="submit">Ajouter une note</button>
	        <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
	</div>
  </div>
  	</form>
</div>

<div class="row-fluid">
<div class="span4">
<h3>{{ entity.nom }}</h3>
<a href="{{ path('sponso_projet_edit', { 'id': entity.projet.id }) }}" role="button" class="btn">Retour</a>
<p>Équipe {{ entity.projet.equipe }}, Responsable : {{ entity.responsable }}</p>
{% if entity.contact.entreprise is defined %}
<div class="well">
    <h4>Contact : {{ entity.contact.entreprise }}, {{ entity.contact.nom }} ({{ entity.contact.poste }})</h4>
    <ul>
        <li>{{ entity.contact.telephone }}</li>
        <li>{{ entity.contact.email }}</li>
        <li>{{ entity.contact.adresse }}</li>
    </ul>
</div>
{% endif %}

</div>
<div class="span8">
<h3>Notes</h3>
{% for note in entity.notes %}
<div class="well"><h4>{{ note.orga }} <small>{{ note.date |format_datetime('EEEE dd MMM HH:mm')}} : </small> </h4>{{ note.texte }}</div>
{% endfor %}
</div>

</div>
<div class="form-fluid">
			<div class="form-actions">
    			
    			<a href="#editModal" role="button" class="btn" data-toggle="modal"><i class="icon-pencil"></i>Éditer les infos du contact</a>
    			<a href="#noteModal" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-plus"></i>Ajouter une note</a>
    			
			</div>
    </div>   
	
{% endblock %}
