<h3>Le projet <i>{{avancement.projet.nom}} / {{avancement.entreprise}}</i> à été mis à jour par {{note.orga}}</h3>
{{note.texte|raw}}
<br>
<a href="{{url("sponso_avancement_edit",{"id":avancement.id})}}">Accéder au projet sur SponsoMaker</a>