{% extends "AssoMakerPHPMBundle:Disponibilite:layout.html.twig"  %}
{% set pageTitle = 'Liste des disponibilités' %}
{% use "AssoMakerPHPMBundle::index.html.twig" %}

{% block content %}


<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('disponibilite_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('disponibilite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.debut %}{{ entity.debut|format_datetime('dd MMM Y HH:mm') }}{% endif%}</td>
            <td>{% if entity.fin %}{{ entity.fin|format_datetime('dd MMM Y HH:mm') }}{% endif%}</td>
            <td>
				{{ bouton.edit( path('disponibilite_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
