{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Accueil' %}

{% block pageHeader %}
{% endblock %}

{% block content %}

{% if is_granted('ROLE_VISITOR') %}
	<div class="row-fluid">
		<h1>Bonsoir {{ app.user.prenom }} !</h1>
		<hr>
	</div>
	<div class="row-fluid">
		<div class="span4">
          <h2>Mes Informations</h2>
	       		       {% if not app.user.anneeEtudes or not app.user.departement or (not app.user.groupePC and (app.user.anneeEtudes == 1 or app.user.anneeEtudes == 2))%}
		       	<div class="alert alert-block alert-error fade in">
		            <h4 class="alert-heading">Tu n'a pas renseigné les informations suivantes :</h4>
		            <ul>
		            {% if not app.user.anneeEtudes%}<li>Année d'études</li>{% endif %}
		            {% if not app.user.departement%}<li>Département INSA</li>{% endif %}
		            {% if not app.user.groupePC and (app.user.anneeEtudes == 1 or app.user.anneeEtudes == 2)  %}<li>Numéro de groupe Premier Cycle</li>{% endif %}
		            {% if not app.user.ProfilePictureSet%}<li>Photo de Trombinoscope</li>{% endif %}
		            </ul>
		        </div>
	          {% endif %}
		          <div class="well">
		          	<div class="row-fluid">
		          	<h3>{{ entitiesMacro.orga(app.user) }}</h3>
		          	</div>
			          <div class="row-fluid">
				          <div class="span3">
                            {% if app.user.profilePictureSet == 1 %}
                        	    <img src="{{ entitiesMacro.orgaProfilePictureLink(app.user.id) }}" class="img-polaroid" style="width:90%"/>
                            {% endif %}
				          </div>
				          <div class="span9">
					          <p>{{ app.user.email }} - {{ app.user.telephone |telephone}}</p>
					          <dl class="dl-horizontal">
						        
						        <b>Date de Naissance : </b>
						        {{ app.user.dateDeNaissance|format_date('dd MMM Y') }}<br>
						        <b>Équipe : </b>
						        {{ entitiesMacro.equipe(app.user.equipe) }}<br>
						        <b>Permis de conduire : </b>
						        {% if app.user.datePermis %}
						        obtenu le {{ app.user.datePermis|format_date('dd MMM Y') }}.
						        {% else %}
						        non titulaire
						        {% endif%}<br>
						        <b>Département : </b>
								{{ app.user.anneeEtudes }}{{ app.user.departement }}
								{% if app.user.groupePC %}
								(groupe {{ app.user.groupePC }})
						        {% endif %}<br>		        
						      </dl>
					    	</div>
					    </div>
					    	<div class="row-fluid">
						    	<p>
						    		<a class="btn" href="{{ path('orga_edit',{'id':app.user.id }) }}"><i class="icon-pencil"></i> Modifier mes informations »</a>
						    		<a class="btn" href="{{ path('orga_signature') }}"><i class="icon-envelope"></i> Générer ma signature email »</a>
						    	</p>
					    	</div>
				    </div>
    		</div>
	   {% if comptes_perso_actif ==1 %}
	   <div class="span4">
          <h2>Mon compte perso</h2>
          {% if soldeCP < 0 %}
			<div class="alert alert-block alert-error">
		            <h4 class="alert-heading">Attention : ton compte perso est déficitaire !</h4>
		            <p>
		            Tu dois actuellement <em>{{ soldeCP|number_format(2) }}€</em>  à l'association !
		            </p>
		    
		  {% else %}
		  	<div class="well">
		            <p>Il te reste actuellement <em>{{ soldeCP|number_format(2) }}€</em> sur ton compte.</p>
		  {% endif %}
		  	<h4>Détail des transactions</h4>
		  	{% include 'AssoMakerComptesPersoBundle:Transaction:history.html.twig' with {'transactions': transactionsCP} only  %}
			<a class="btn" href="{{ url('comptesPerso_virement') }}"><i class="icon-credit-card"></i> Effectuer un virement »</a>
			</div>

    		</div>
	    </div>
	    {% endif %}
{% else %}
	<div class="hero-unit">
	{{ phpm_contenu_page_principale |raw}}
			<p>
				<a class="btn btn-primary btn-large" href="{{ url('login') }}">Se connecter</a>
			</p>
	</div>

{% endif %}
{% endblock %}

