{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}


    <div class="row-fluid">
        <div class="span12">
            <h3>Login</h3>
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-error">
                {{ flashMessage }}
            </div>
            {% endfor %}
            <p>Pour se connecter, choisissez l'une des méthodes ci-dessous.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="well">
                <fieldset>
                    <legend>Connexion par compte Google</legend>
                    {% for owner in hwi_oauth_resource_owners() %}
                        <a class="btn btn-primary" href="{{ hwi_oauth_login_url(owner) }}">Se connecter maintenant avec {{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
                    {% endfor %}
                </fieldset>
            </div>
        </div>
        <div class="span6">
            <div class="well">
                <fieldset>
                    <legend>Connexion par login/mot de passe</legend>

                    {% if error %}
                        <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <fieldset>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label for="username">Adresse email :</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" id="password" name="_password" required="required" />
                            <br /><br />
                            <button class="btn" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                        </fieldset>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>



{% endblock %}

