{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="hero-unit">
                {{ phpm_contenu_page_principale |raw}}
                <a class="btn btn-primary btn-large" href="{{ hwi_oauth_login_url('google') }}">Connexion rapide avec Google</a>
            </div>

            <p>Pour tout problème ou pour t'inscrire, contacte le responsable : <a href="mailto:{{ admin_email }}">{{ admin_email }}</a></p>

        </div>

    </div>
{% endblock %}

