{% extends "PHPMBundle:Disponibilite:layout.html.twig"  %}
{% set pageTitle = 'Liste des disponibilités' %}
{% use "PHPMBundle::index.html.twig" %}

{% block content %}
{% import "::macro_bouton_edit.html.twig" as bouton_edit %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('disponibilite_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('disponibilite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.debut %}{{ entity.debut|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
				{{ bouton_edit.bouton_edit( path('disponibilite_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
