{% extends "::base.html.twig"  %}

{% block title %}
	Disponibilit&eacute;s -> Liste des Disponibilit&eacute;s
{% endblock %}

{% block content %}
{% import "::macro_bouton_edit.html.twig" as bouton_edit %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('disponibilite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.debut %}{{ entity.debut|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
				{{ bouton_edit.bouton_edit( path('disponibilite_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('disponibilite_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
