{% extends "AssoMakerPHPMBundle::layout.html.twig"  %}
{% set pageTitle = 'CreneauMaker' %}

{# {% form_theme form _self %}#}

{% block pageHeader %}
{% endblock %}

{% block content %}
    <div class="row-fluid">       
    	<div class="page-header">
         	<h1 class="my-inline-h">Gestion des créneaux : {{ tache.nom }}</h1>
	        &nbsp;
	       	<a class="btn btn-mini my-inline-btn" href="{{ path('tache_edit', { 'id': tache.id }) }}" ><i class="fa fa-share"></i> Retour à la fiche</a>
         </div>
    </div>
    <div class="row-fluid">   
	    {% for ph in tache.plagesHoraire %}
	    	<div>
		    	<h3>Plage horaire : {{ ph.debut|date('d/m/Y H:i') }} <i class="icon-arrow-right my-inline-icon"></i> {{ ph.fin|date('d/m/Y H:i') }}</h3>
		    	<div class="pad10">
			    	{% if ph.creneauUnique %}
			    		<h4>Créneau unique !</h4>
			    	{% else %}
			    		<h4 class="my-inline-h">Durée des créneaux :</h4>
		                {{ ph.dureeCreneau/3600}} h
		                {% if ph.recoupementCreneau != 0 %} ({{ ph.recoupementCreneau/60 }}m) {% endif %}
			    	{% endif %}
			    	<h4 class="my-inline-h">Besoins : </h4>
		 			{% if ph.respNecessaire %}
		 				<strong>(RESP)</strong>
		 			{% endif %}
	                {% for bo in ph.besoinsOrga %}
	                	{% if bo.orgaHint is null %}
	                		({{ bo.equipe }} : {{ bo.nbOrgasNecessaires }})
	                	{% else %}
	                		<strong>({{ bo.orgaHint }})</strong>
	                	{% endif %}
	                {% endfor %}
                </div>
		    	{% if ph.creneaux.count > 0 %}
				    <div class="well">
				    	<a class="btn btn-danger" href="{{ path('creneaumaker_deleteallph', { 'id': ph.id }) }}"><i class="fa fa-remove"></i> Supprimer tous les créneaux</a>
				    </div>
					<table class="table table-condensed">
				        <thead>
				            <th>Créneau</th>
				            <th>Orga Nécessaire</th>
				            <th>Équipe nécessaire</th>
				            <th>Orga Affecté</th>
				            <th>Actions</th>
				            
				        </thead>
				        <tbody>
						{% for c in ph.creneaux %}
				            <tr>
				            	<td>
				                	{{ c.debut|date('d/m/Y H:i') }} <i class="icon-arrow-right"></i> {{ c.fin|date('d/m/Y H:i')}}
				                </td>
				                <td>
					                {% if c.orgaHint is not null %}
										{{ entitiesMacro.orga(c.orgaHint) }}
					                {% else %}
					                	-
					                {% endif %}
				                </td>
				                <td>
					                {% if c.equipeHint is not null %}
										{{ c.equipeHint }}
					                {% else %}
					                	-
					                {% endif %}
				                </td>
				                <td>
					                {% if c.disponibilite is not null %}
										{{ entitiesMacro.orga(c.disponibilite.orga) }}
					                {% else %}
					                	-
					                {% endif %}
				                </td>
				                
					                <td>
						                {% if  c.disponibilite is not null%}
						                <a class="btn  btn-warning" href="{{ path('creneau_desaffecter', { 'cid': c.id }) }}"> Désaffecter</a>
						                {% else %}
						                <a class="btn  btn-danger" href="{{ path('creneau_delete', { 'id': c.id }) }}"><i class="fa fa-remove"></i> Supprimer</a>
					                	{% endif %}
					                </td>
				                
				            </tr>
				        {% endfor %}
				        </tbody>
				    </table>
			    {% else %}
				    <div class="alert alert-info">
				    	Cette plage horaire ne comporte pas de créneaux.
						
						    <div class="pad10">
						    	<a class="btn btn-primary" href="{{ path('creneaumaker_genererph', { 'id': ph.id }) }}"><i class="fa fa-plus"></i> Générer</a>
							</div>
						
				    </div>
		    	{% endif %}	
	    	</div>
	    {% endfor %}
    </div>
    <div class="row-fluid">
		<div class="form-actions">
	    	{% if tache.statut == 3 %}
				<a class="btn  btn-danger" href="{{ path('creneaumaker_deoktache', { 'id': tache.id }) }}"><i class="fa fa-pencil"></i> Modifier la tâche</a>
			{% endif %}
	    	{% if tache.statut == 2  %}
				<a class="btn btn-success" href="{{ path('tache_okaffectation', { 'id': tache.id }) }}"><i class="fa fa-arrow-right"></i> Tâche prête pour affectation</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
