{% macro navBarItem(nom,route,params) %}

    {% if params !="" %}
        <li{% if route == app.request.attributes.get('_route') %} class="active" {% endif %}><a
                    href="{{ path(route,params) }}">{{ nom| raw }}</a></li>
    {% else %}
        <li{% if route == app.request.attributes.get('_route') %} class="active" {% endif %}><a
                    href="{{ path(route) }}">{{ nom | raw }}</a></li>
    {% endif %}

{% endmacro %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a style="padding: 3px 10px;" class="brand" href="{{ path('base_accueil') }}">
                {% image '@AssoMakerBaseBundle/Resources/public/images/logo-bde-gala.png' %}
                <img src="{{ asset_url }}" alt="Gala"/>
                {% endimage %}
            </a>
            {% if app.user and is_granted("ROLE_ORGA") %}
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        {% if sponso_actif ==1 and is_granted("ROLE_HARD") %}
                            {{ _self.navBarItem('Sponso','sponso_projet_home') }}
                        {% endif %}

                        {% if anim_actif ==1 and is_granted("ROLE_HARD") %}
                            {% if is_granted("ROLE_SECU") and pass_actif %}
                                <li class="dropdown" id="menu_topnav_anim">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Animations <b
                                                class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {{ _self.navBarItem('Liste','anim_animation_index') }}
                                        {{ _self.navBarItem('Pass Sécurité','pass_pass_index') }}
                                    </ul>
                                </li>
                            {% else %}
                                {{ _self.navBarItem('Animations','anim_animation_index') }}
                            {% endif %}
                        {% endif %}

                        {% if is_granted("ROLE_HARD") %}
                            <li class="dropdown" id="menu_topnav_orgas">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">Orgas <b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_ORGA') and (phpm_actif ==1) %}
                                        {{ _self.navBarItem('Liste','orga') }}
                                    {% endif %}

                                    {% if is_granted('ROLE_HUMAIN') and (phpm_actif ==1) %}
                                        {{ _self.navBarItem('Affectation','orga_affectation') }}
                                    {% endif %}

                                    {% if (phpm_actif ==1) %}
                                        {{ _self.navBarItem('Charisme','orga_charisme') }}
                                    {% endif %}

                                    {{ _self.navBarItem('Trombinoscope','orga_trombi') }}

                                    {% if is_granted('ROLE_BUREAU')  and (comptes_perso_actif ==1) %}
                                        {{ _self.navBarItem('Comptes Perso','comptesPerso') }}
                                    {% endif %}

                                    <hr>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ _self.navBarItem('Export Tableau','orga_export_tableau') }}
                                    {% endif %}
                                    {{ _self.navBarItem('Export Google Contacts','orga_export_csv') }}

                                    {% if is_granted('ROLE_HUMAIN') and (phpm_actif ==1) %}
                                        {{ _self.navBarItem('Impression des Badges','orga_print_badges') }}
                                        <hr>
                                        {{ _self.navBarItem('Créneaux d\'inscription','disponibiliteinscription') }}
                                        {{ _self.navBarItem('Missions','mission') }}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') and (phpm_actif ==1) %}
                            <li class="dropdown" id="menu_topnav_taches">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">Fiches Tâches <b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_HUMAIN') %}
                                        {{ _self.navBarItem('Fiches tâches','tache') }}
                                        {{ _self.navBarItem('Groupes de tâches','groupetache') }}
                                    {% else %}
                                        {{ _self.navBarItem('Mes Fiches','tache',{'orgaid': app.user.id}) }}
                                        {{ _self.navBarItem('Celles de ma com\'','tache',{'equipeid': app.user.equipe.id}) }}
                                        {{ _self.navBarItem('Groupes de tâches','groupetache',{'orgaid': app.user.id}) }}
                                    {% endif %}

                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') and (phpm_actif ==1) %}
                            <li class="dropdown" id="menu_topnav_analyse">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">Analyse <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {{ _self.navBarItem('Statistiques','analyse_stats') }}
                                    {{ _self.navBarItem('Utilisation du matériel','analyse_usageMateriel') }}
                                    {{ _self.navBarItem('Logistique','phpm_analyse_logistique') }}
                                    {{ _self.navBarItem('Orgas requis','analyse_plagesorga') }}
                                    {{ _self.navBarItem('Besoins en orgas','analyse_besoinsorga') }}
                                    {{ _self.navBarItem('Orgas affectés','analyse_taches') }}
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_HUMAIN') %}
                            {{ _self.navBarItem('Configuration','config') }}
                        {% endif %}

                        {% if is_granted('ROLE_ORGA') and not is_granted('ROLE_HUMAIN') and (phpm_actif ==1) %}
                            {{ _self.navBarItem('Mes Disponibilités','orga_inputdispos',{'id':app.user.id }) }}
                            {{ _self.navBarItem('Charisme','orga_charisme') }}
                        {% endif %}

                        {{ _self.navBarItem('Logout <i class="icon-signout"></i>','logout') }}

                    </ul>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <form class="navbar-form pull-right form-search" method="post" action="{{ path('search') }}"
                              id="search_form">
                            <input class="input-medium search-query" id="searchBox" name="s" size="30"
                                   placeholder="Rechercher..."/>
                        </form>
                    {% endif %}
                </div><!--/.nav-collapse -->
            {% endif %}
        </div>
    </div>
</div>
