{% if entities %}

<table class="table">
    <thead>
        <tr>
        	<th>Groupe de Tâches</th>
            <th>Nom</th>            
            <th>Équipe</th>
            <th>Responsable</th>
            <th>Dernier Commentaire</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        	<td>{{ entitiesMacro.groupeTache(entity.groupeTache) }}</td>
            <td>{{ entitiesMacro.tache(entity) }}</td>            
            <td>{{ entity.groupeTache.equipe.nom }}</td>
            <td>{{ entitiesMacro.orga(entity.responsable) }}</td>
            <td>{{ entitiesMacro.tacheCom(entity) }}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
