{% extends "PHPMBundle:Tache:layout.html.twig"  %}
{% set pageTitle = 'Edition de la tâche' %}
{% use "PHPMBundle::edit.html.twig" %}

{% form_theme form _self %}

{% block style %}
	{{ parent() }}
	{% stylesheets 'bundles/phpm/css/tache.css' filter='cssrewrite'  %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
{% if valid is defined %}
	{% if valid==1 %}
		<div class ="success">La tâche à bien été enregistrée.</div>
	{% else %}
		<div class ="alert">Il y a des erreurs dans la fiche, la tâche n'a pas été mise à jour.</div>
	{% endif %}
{% endif %}

<form action="{{ path('tache_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>

<div class="alert-message">{{ form_errors(form) }}</div>

<h2 class="statut{{ form.entity.vars.value.statut }}">{{ form.entity.vars.value.nom }}</h2>
    
    <div>
    	<div class="form_row">
    		{{ form_row(form.entity.nom, { 'label':  'Nom de la tâche'}) }}
    		{{ form_row(form.entity.groupeTache, { 'label':  'Groupe de la tâche'}) }}
    		{{ form_row(form.entity.responsable, { 'label':  'Orga Responsable'}) }}
    		{{ form_row(form.entity.lieu, { 'label':  'Lieu de rendez-vous'}) }}
    		{{ form_row(form.entity.permisNecessaire, { 'label':  'Permis nécessaire'}) }}
    	</div>
    
    	<h3>{{ form_label(form.entity.consignes,'Consignes') }}</h3>
    	
    	<div class="alert-message">{{ form_errors(form.entity.consignes) }}</div>

	{{ form_widget(form.entity.consignes) }}
    </div>

    <script type="text/javascript">
$(function() {
    $('#phpm_bundle_tachetype_entity_consignes').wysiwyg();
});
</script>
    
    
<h2>Besoins en matériel</h2>
    <div>
      
        {% for c in form.Materiel %}
    	    <h3>{{ form_label(c) }}</h3>
    	    
    	    <div>
    		    {% for i in c %}
    				<div class="materiel_item">{{ form_label(i) }}<br/>{{ form_widget(i) }}</div>
    			{% endfor %}
    		</div>
    	{% endfor %}
    	
    	<h3>{{ form_label(form.entity.materielSupplementaire,'Matériel Supplémentaire') }}</h3>
    	
    	{{ form_widget(form.entity.materielSupplementaire) }}
    </div>

<h2>Plages Horaires</h2>
    
    <p><em>Attention : Enregistrez la fiche tâche avant de modifier les plages horaires !</em></p>
    
    
    <table>
        <thead>
            <th>Horaires</th>
            <th>Besoins</th>
            <th>Total</th>
            <th>Durée d'un créneau<br/>(Recoupement)</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for pl in entity.plagesHoraire %}
    	    <tr><td>
    		    {{ pl.debut | format_datetime }} &rarr; {{ pl.fin | format_datetime }}
    		    </td>
    		    <td>
    		    {% if pl.respNecessaire  %}(RESP) {% endif %}
    		    
    			{% for bo in pl.besoinsOrga %}({{ bo.equipe }} : {{ bo.nbOrgasNecessaires }}){% endfor %}
    			</td>
    			<td>{{ pl.besoinsOrgaTotal }}</td>
    			<td>{{ pl.dureeCreneau/3600}}h
    			{% if pl.recoupementCreneau != 0 %}
    			 ({{ pl.recoupementCreneau/60 }}m)
    			{% endif %}
    			</td>
    		    <td>
    		    {% if not rOnly  %}
    		    <a href="{{ path('plagehoraire_edit', { 'id': pl.id }) }}">Éditer</a>
    		    <a href="{{ path('plagehoraire_delete', { 'id': pl.id }) }}">Supprimer</a>
    		    {% endif %}
    	    </td></tr>
        
        {% endfor %}
        </tbody>
    </table>
    <br/>
    {% if not rOnly  %}
    <a class="addbutton" href="{{ path('plagehoraire_new', { 'id': entity.id }) }}">+</a>
    {% endif %}
        

<h2>Commentaires</h2>
    
    <script>
    function toggleOldComs() {
		$( "#oldComs" ).toggle();
	};
	</script>
    
    
    
    
    <div>
        <div id="oldComs" style="display: none; ">
        {% for com in entity.commentaires %}
            {% if com == entity.commentaires.last %}
            
        </div>
        <a href="javascript:toggleOldComs()">Afficher/Masquer les anciens commentaires</a>
        {% endif %}
            <div class="com">
    	        <div class="com_infos">
    	        	<span class="com_auteur">{{com.auteur}}</span>
    	        	<span class="com_heure"> {{ com.heure|format_datetime('EEEE dd MMM HH:mm') }}</span>
    	        </div>
    	        <div class="com_texte">{{com.texte|raw}}</div>
    	        <div class=clear></div>
            </div>
        
            
        {% endfor %}
        </div>
        {% if not rOnly  %}
    	    <h3>Enregistrer les Modifications</h3>
    	    
    	    {{ form_errors(form.commentaire) }}
    	    {{ form_widget(form.commentaire) }}
    	    
    	
    	
{{ form_rest(form) }}
    <p>
        <button type="submit" name="action" value="save" >Enregistrer</button>
        
        {% if entity.statut ==0 %}
        	<button class="yesbutton" type="submit" name="action" value="submit_validation">Passer en Validation</button>
        {% endif %}
        {% if is_granted('ROLE_ADMIN')  %}
            {% if entity.statut ==1  %}
        	    <button class="yesbutton" type="submit" name="action" value="validate">Valider la fiche</button>
        	{% endif %}
        	{% if entity.statut >=1  %}
        	     <button class="nobutton" type="submit" name="action" value="reject">Rejeter la fiche</button>
        	{% endif %}
        {% endif %}
        {% if entity.statut !=-1  %}
        <button class="nobutton" type="submit" name="action" value="delete">SUPPRIMER la fiche</button>
        {% endif %}
        {% if entity.statut ==-1 and entity.groupeTache.statut !=-1 %}
        <button class="yesbutton" type="submit" name="action" value="restore">Restaurer la fiche</button>
        {% endif %}
    </p>
{% endif %}
</form>

{% endblock %}
