{% extends "PHPMBundle:Tache:layout.html.twig"  %}
{% set pageTitle = 'Edition de la tâche' %}
{% use "PHPMBundle::edit.html.twig" %}

{% form_theme form _self %}

{% block pageHeader %}
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{{ path('tache_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <div class="row-fluid">       
        	<div class="page-header">
	            <h1 class="statut{{ form.entity.vars.value.statut }}">Tâche : {{form.entity.vars.value.nom }}</h1>
	            <br>
	            <a class="btn" href="{{ path('groupetache_edit', { 'id': entity.groupetache.id }) }}" ><i class="icon-share-alt"></i> {{ entity.groupetache.id }}- {{ entity.groupetache.nom }}</a>
        	</div>
    	</div>
    {% if valid is defined %}    
        <div class="row-fluid">  
            {% if valid==1 %}
            	<div class="alert alert-success alert-block">
				  <a class="close" data-dismiss="alert">×</a>
				  
				  
				  <img style="height:20em" src="{{ asset(imageu) }}" alt="The Human"/>
				  
				  <h4 class="alert-heading">Succès!</h4>
				  La tâche à bien été enregistrée.
				</div>

                
            {% else %}
				<div class="alert alert-error alert-block">
				  <a class="close" data-dismiss="alert">×</a>
				  <h4 class="alert-heading">Erreur!</h4>
				  Il y a des erreurs dans la fiche, la tâche n'a pas été mise à jour.
				  <br/>
                {{ form_errors(form) }}
				</div>
            {% endif %}
        </div>
    {% endif %}
    
    <div class="row-fluid"> 
	    <div class="span6">
	            <h2>Informations Générales</h2>
	            {{ form_row(form.entity.nom) }}
	            {{ form_row(form.entity.responsable, { 'label':  'Orga Responsable'}) }}
	            {{ form_row(form.entity.lieu, { 'label':  'Lieu de rendez-vous'}) }}
	            {{ form_row(form.entity.permisNecessaire, { 'label':  'Permis nécessaire'}) }}
	             
	    <div class="row-fluid">
			<h2>Besoins en matériel</h2>
		        {% for c in form.Materiel %}
		            <h3>{{ c.vars.label }}</h3>
		            
		                {% for i in c %}
		                    <div class="materiel_item">{{ form_label(i) }}{{ form_widget(i) }}</div>
		                {% endfor %}
		        {% endfor %}
        
		    	<h3>Matériel Supplémentaire</h3>
		        {{ form_widget(form.entity.materielSupplementaire) }}
		</div>
		
			
	    </div>
	    
       	<div class="span6">
        	<h3>Consignes</h3>
        	{% if form_errors(form.entity.consignes)|length > 0 %}
        		<div class ="alert alert-error">{{ form_errors(form.entity.consignes) }}</div>        		 
        	{% endif %}
        	{{ form_widget(form.entity.consignes,{ 'style':  'width:500px'}) }}    
			<style>
			.wysiwyg-input { width: 100%; height: 300px }
			</style>
			<script type="text/javascript">
				$(function() {
				    $('#phpm_bundle_tachetype_entity_consignes').wysiwyg({
				        iFrameClass: "wysiwyg-input",
				        rmUnusedControls: true,
				        controls: {
				            bold: { visible : true },
				            italic: { visible : true },
				            strikeThrough: { visible : true },
				            underline: { visible : true },
				            insertOrderedList: { visible : true },
				            insertUnorderedList: { visible : true },
				            removeFormat: { visible : true },
				            insertTable: { visible : true }
				        }
				    });
				});
			</script>
    	</div>
    </div>

	<hr>
	
	<h2>Plages Horaires</h2>
	    <table class="table table-condensed">
	        <thead>
	            <th>Horaires</th>
	            <th>Besoins</th>
	            <th>Total</th>
	            <th>Durée d'un créneau<br/>(Recoupement)</th>
	            <th>Actions</th>
	        </thead>
	        <tbody>
	        {% for pl in entity.plagesHoraire %}
	            <tr>
	            	<td>
	                	{{ pl.debut | format_datetime }} <i class="icon-arrow-right"></i> {{ pl.fin | format_datetime }}
	                </td>
	                <td>
		                {% if pl.respNecessaire  %}<b>(RESP)</b> {% endif %}
		                
		                {% for bo in pl.besoinsOrga %}
		                	{% if bo.orgaHint is null %}
		                	({{ bo.equipe }} : {{ bo.nbOrgasNecessaires }})
		                	{% else %}
		                	<b>({{ bo.orgaHint }})</b>
		                	{% endif %}
		                
		                {% endfor %}
	                </td>
	                <td>
	                	{{ pl.besoinsOrgaTotal }}
	                </td>
	                <td>
	                {% if pl.creneauUnique  %}
	                                
	                {% else %}
		                {{ pl.dureeCreneau/3600}}h
		                {% if pl.recoupementCreneau != 0 %} ({{ pl.recoupementCreneau/60 }}m){% endif %}
	                {% endif %}
	                </td>
	                <td>
	                {% if not rOnly  %}
		                <div class="btn-group">
		                <a class="btn" href="{{ path('plagehoraire_edit', { 'id': pl.id }) }}"><i class="icon-pencil"></i> Éditer</a>
		                <a class="btn  btn-danger" href="{{ path('plagehoraire_delete', { 'id': pl.id }) }}"><i class="icon-remove"></i> Supprimer</a>
		                </div>
	                {% endif %}
	            	</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	    <br/>
	    {% if not rOnly  %}
	    <button class="btn btn-success" type="submit" name="action" value="add_plage" ><i class="icon-plus"></i> Ajouter une plage horaire</button>
	    {% endif %}
        
	{% if  entity.commentaires.count > 0  %}
		<hr>
		<h2>Commentaires</h2>
		{% if  entity.commentaires.count > 4  %}
	          <div class="accordion" id="oldCom">
	            <div class="accordion-group">
	              <div class="accordion-heading">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#odlcom" href="#collapseOne">
	                  Anciens commentaires
	                </a>
	              </div>
	              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
	                <div class="accordion-inner">
	                  {% for com in entity.commentaires %}
				            {% if (loop.length-loop.index == 4) %}
				            
	                </div>
	              </div>
	            </div>            
	         </div>
				          {% endif %}
				            <div class="com">
				                <div class="com_infos">{{loop.index}}/{{loop.length}}
				                    <span class="com_auteur">{{com.auteur}}</span>
				                    <span class="com_heure"> {{ com.heure|format_datetime('EEEE dd MMM HH:mm') }}</span>
				                </div>
				                <div class="com_texte">{{com.texte|raw}}</div>
				
				            </div>
	        
	            
	        			{% endfor %}
	    {% else %}
	    		          
	                  {% for com in entity.commentaires %}
				           <div class="com">
				                <div class="com_infos">{{loop.index}}/{{loop.length}}
				                    <span class="com_auteur">{{com.auteur}}</span>
				                    <span class="com_heure"> {{ com.heure|format_datetime('EEEE dd MMM HH:mm') }}</span>
				                </div>
				                <div class="com_texte">{{com.texte|raw}}</div>
				
				            </div>
	        
	            
	        			{% endfor %}
	        			
	  	{% endif %}
	  {% endif %}
  
        
            <hr>
            <h2>Enregistrer les Modifications</h2>
            
            {{ form_errors(form.commentaire) }}
            {{ form_widget(form.commentaire) }}
            
        
        
	{{ form_rest(form) }}
	<div class="form-actions">
	    <div class="btn-group">
		    {% if not rOnly %}
		        <button class="btn btn-primary" type="submit" name="action" value="save" >Enregistrer</button>
		        <button class="btn" type="submit" name="action" value="save_return" ><i class="icon-share-alt"></i> Enregistrer et revenir au groupe</button>        
		 
		        {% if entity.statut ==0 %}
		            <button class="btn btn-success" type="submit" name="action" value="submit_validation"><i class="icon-eye-open"></i> Passer en Validation</button>
		        {% endif %}
		        {% if is_granted('ROLE_ADMIN')  %}
		            {% if entity.statut ==1  %}
		                <button class="btn btn-success" type="submit" name="action" value="validate"><i class="icon-ok"></i> Valider la fiche</button>
		            {% endif %}
		            {% if entity.statut >=2  %}
		                 <button class="btn btn-success" type="submit" name="action" value="creneaumaker"><i class="icon-arrow-right"></i> Ouvrir dans CréneauMaker</button>
		            {% endif %}
		            {% if entity.statut >=1  %}
		                 <button class="btn btn-warning" type="submit" name="action" value="reject"><i class="icon-remove"></i> Rejeter la fiche</button>
		            {% endif %}
		        {% endif %}
		        {% if entity.statut !=-1  %}
		        <a class="btn  btn-danger" href="{{ path('tache_trash', { 'id': entity.id }) }}"><i class="icon-remove"></i> Supprimer la fiche</a>
		        {% endif %}
		        {% if entity.statut ==-1 and entity.groupeTache.statut !=-1 %}
		        <button class="btn btn-success" type="submit" name="action" value="restore">Restaurer la fiche</button>
		        {% endif %}
		     {% else %}
		     {% if is_granted('ROLE_ADMIN') and entity.statut ==3 %}
		     <a class="btn  btn-danger apopover" href="{{ path('creneaumaker_deoktache', { 'id': entity.id }) }}" rel="popover" data-content="Cette tâche à peut-être déjà été affectée." data-original-title="Attention"> Modifier la tâche</a>
		     {% endif %}
		     {% endif %}
	    </div>
	</div>
</form>

{% endblock %}
