{% extends "::base.html.twig"  %}
{% import "::macro_bouton_edit.html.twig" as bouton_edit %}

{% block title %}
	T&acirc;ches -> Liste des t&acirc;ches
{% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Consignes</th>
            <th>Lieu</th>
            <th>Mat&eacute;rielNecessaire</th>
            <th>permisNecessaire</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('tache_show', { 'id': entity.id }) }}'" >
            <td><a href="{{ path('tache_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.consignes }}</td>
            <td>{{ entity.lieu }}</td>
            <td>{{ entity.materielNecessaire }}</td>
            <td>{{ entity.permisNecessaire }}</td>
            <td>
					{{ bouton_edit.bouton_edit( path('tache_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('tache_new') }}">
            Cr&eacute;er une nouvelle t&acirc;che :
        </a>
    </li>
</ul>
{% endblock %}
