{% extends "PHPMBundle:Tache:layout.html.twig"  %}
{% set pageTitle = 'Nouvelle Tâche' %}
{% use "PHPMBundle::new.html.twig" %}
{% form_theme form _self %}


{% block style %}
{{ parent() }}
			{% stylesheets 'bundles/phpm/css/tache.css' filter='cssrewrite'  %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
			{% endstylesheets %}
{% endblock %}



{% block content %}
<form action="{{ path('tache_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Cr&eacute;er la t&acirc;che</button>
    </p>
</form>
{% endblock %}
