{% extends "::base.html.twig"  %}

{% block title %}
	Affectation T&acirc;ches -> Orga
{% endblock %}

{% block style %}
	{{ parent() }}

	{# on inclue manuellement cette feuille de style qu'Assetic ne nous casse pas les liens des images #}
	<link rel="stylesheet" href="{{ asset('bundles/phpm/css/jquery-ui/themes/smoothness/jquery-ui-1.8.16.custom.css') }}" type="text/css" />
	<link rel="stylesheet/less" href="{{ asset('bundles/phpm/css/affectation.less') }}" type="text/css" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	{# attention dans les include Javascript l'ordre compte ! #}
	{% javascripts
		'@PHPMBundle/Resources/public/js/lib/less.min.js'
		'@PHPMBundle/Resources/public/js/lib/jquery-ui.min.js'
		'@PHPMBundle/Resources/public/js/affectation/util/*'
		'@PHPMBundle/Resources/public/js/affectation/model/*'
		'@PHPMBundle/Resources/public/js/affectation/view/*'
		'@PHPMBundle/Resources/public/js/affectation/controller/*'
		'@PHPMBundle/Resources/public/js/affectation/*'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<script type="text/javascript">
		// l'url
		pmAffectation.url = "{{ url('phpm__default_home') }}" ;
	</script>
	<div class="menu_calendar" id ="menu_calendar">
		<div class="boutons_plage" id="boutons_plage"></div>
		
		<div class="bouton_hide_menu" id="bouton_hide_menu" onclick="pmUtils.hideTopMenu()">^ Cacher ^</div>
	</div>
	
	<div class="sidebar_orga" id ="sidebar_orga">
		Ici aussi on peut avoir du contenu
	</div>
	
	<div class="calendar" id="calendar">
		<!-- ici le calendrier/vue agenda -->
	</div>
	
	<div class="sidebar_tache" id="sidebar_tache">
		Ceci est la dernière colonne
	</div>

{% endblock %}

{% block menu_action %}
	<!-- pas de menu action ! -->
{% endblock %}
