{% extends "::base.html.twig"  %}

{% block title %}
	Affectation T&acirc;ches -> Orga
{% endblock %}

{% block style %}
	{{ parent() }}

	<link rel="stylesheet/less" href="{{ asset('bundles/phpm/css/affectation.less') }}" type="text/css" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	{# attention dans les include Javascript l'ordre compte ! #}
	{% javascripts
		'@PHPMBundle/Resources/public/js/affectation/util/*'
		'@PHPMBundle/Resources/public/js/affectation/model/*'
		'@PHPMBundle/Resources/public/js/affectation/view/*'
		'@PHPMBundle/Resources/public/js/affectation/controller/*'
		'@PHPMBundle/Resources/public/js/affectation/*'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<script type="text/javascript">
		pmAffectation.url = "{{ url('phpm__default_home') }}"; // l'url
	</script>
	<div class="menu_calendar" id ="menu_calendar">
		<div class="boutons_plage" id="boutons_plage"></div>
		<div class="bouton_hide_menu" id="bouton_hide_menu" onclick="pmUtils.hideTopMenu()">^ Cacher ^</div>
	</div>
	
	<div class="sidebar_orga" id ="sidebar_orga">
		<!-- boutons pour changer d'orga -->
		
		<div class="liste_orgas" id="liste_orgas">
			<!-- liste des orgas -->
		</div>
	</div>
	
	<div class="calendar" id="calendar">
		<!-- ici le calendrier/vue agenda -->
	</div>
	
	<div class="sidebar_tache" id="sidebar_tache">
		Ceci est la dernière colonne
	</div>

{% endblock %}

{% block menu_action %}
	<!-- pas de menu action ! -->
{% endblock %}
