{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Affectation' %}

{% block editAction %}
{% endblock %}

{% block deleteAction %}
{% endblock %}

{% block newAction %}
{% endblock %}

{% block style %}
	{{ parent() }}
			
	<link rel="stylesheet/less" href="{{ asset('bundles/phpm/css/affectation.less') }}" type="text/css" />
{% endblock %}

{% block javascript %}
	{# presque un super... on n'inclut pas Twitter Bootstrap, qui écrase salement des boust de jQuery-UI ! #}
	{% javascripts
		'@PHPMBundle/Resources/public/js/lib/jquery.min.js'
		'@PHPMBundle/Resources/public/js/lib/jquery-ui.min.js'
		'@PHPMBundle/Resources/public/js/lib/less.min.js'
		'@PHPMBundle/Resources/public/js/general.js'
		'@PHPMBundle/Resources/public/js/ui.js'
		'../vendor/DataTables/media/js/jquery.dataTables.js'
		'../vendor/Timepicker/jquery-ui-timepicker-addon.js'
		'lib/jWYSIWYG/jquery.wysiwyg.js'
		'http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
				
	{# attention dans les include Javascript l'ordre compte ! #}
	{% javascripts 
		'@PHPMBundle/Resources/public/js/lib/jquery.history.js'
		'@PHPMBundle/Resources/public/js/affectation/util/*'
		'@PHPMBundle/Resources/public/js/affectation/model/*'
		'@PHPMBundle/Resources/public/js/affectation/view/*'
		'@PHPMBundle/Resources/public/js/affectation/controller/*'
		'@PHPMBundle/Resources/public/js/affectation/*'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<script type="text/javascript">
		pmAffectation.url = "{{ url('phpm__default_home') }}"; // l'url
	</script>
	
	<!-- contiendra les éventuels messages à afficher -->
	<div class="message_affection" id="message_affection"></div>
	
	<div class="menu_calendar" id ="menu_calendar">
		<div class="bouton_reset" id="bouton_reset">Reset heure/jour</div>
		
		<div class="boutons_plage" id="boutons_plage"></div>
		
		<div class="bouton_mode" id="bouton_mode">
			<form>
				<div id="radio_mode">
					<input type="radio" id="radio_mode_orga" name="radio" /><label for="radio_mode_orga">Mode Orga -> Créneaux</label>
					<input type="radio" id="radio_mode_tache" name="radio" /><label for="radio_mode_tache">Mode Tache -> Orgas</label>
				</div>
			</form>
		</div>
		<div class="bouton_hide_menu" id="bouton_hide_menu">^ Cacher ^</div>
	</div>
	
	<div class="client" id="client">
		<div class="sidebar sidebar_orga" id ="sidebar_orga">
			<div class="boutons_orga" id="boutons_orga">
				<button id="bouton_orga_prev">Bouton pr&eacute;c&eacute;dent</button>
				<button id="bouton_orga_next">Bouton suivant</button>
				
				<button id="bouton_orga_refresh" class="bouton_orga_refresh">Rafra&icirc;chir</button>
			</div>
			
			<div class="liste liste_orgas" id="liste_orgas">
				<!-- liste des orgas -->
			</div>
			
			<div class="filtre filtre_orga" id="filtre_orga">
				<select name="orga_confiance" id="filtre_orga_confiance">
					<option value="-1" selected>Tous les niveaux</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>

				<select name="orga_permis" id="filtre_orga_permis">
					<option value="-1" selected>Permis ou pas</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>
				
				<select name="orga_age" id="filtre_orga_age">
					<option value="-1" selected>Tous les âges</option>
					<option value="18">au moins 18</option>
					<option value="19">au moins 19</option>
					<option value="20">au moins 20</option>
					<option value="21">au moins 21</option>
					<option value="22">au moins 22</option>
					<option value="23">au moins 23</option>
					<option value="24">au moins 24</option>
					<option value="25">25 et plus</option>
				</select>
			</div>
		</div>
		
		<div class="calendar" id="calendar">
			<!-- ici le calendrier/vue agenda -->
		</div>
		
		<div class="sidebar sidebar_tache" id="sidebar_tache">
			<div class="boutons_tache" id="boutons_tache">
				<button id="bouton_tache_prev">Bouton pr&eacute;c&eacute;dent</button>
				<button id="bouton_tache_next">Bouton suivant</button>
				
				<button id="bouton_tache_refresh" class="bouton_tache_refresh">Rafra&icirc;chir</button>
			</div>
			
			<div class="liste liste_taches" id="liste_taches">
				<!-- liste des taches -->
			</div>
			
			<div class="filtre filtre_tache" id="filtre_tache">
				<select name="tache_confiance" id="filtre_tache_confiance">
					<option value="-1" selected>Tous les niveaux</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>

				<select name="tache_categorie" id="filtre_tache_categorie">
					<option value="-1" selected>Toutes les catégories</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>
				
				<select name="tache_permis" id="filtre_tache_permis">
					<option value="-1" selected>Permis ou pas</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>
				
				<select name="tache_duree" id="filtre_tache_duree">
					<option value="-1" selected>Toutes durées</option>
					<option value="15">Max. 15 mn</option>
					<option value="30">30 mn</option>
					<option value="45">45 mn</option>
					<option value="60">1 heure</option>
					<option value="90">1 heure 30</option>
					<option value="120">2 heures</option>
					<option value="240">4 heures</option>
				</select>
			</div>
		</div>
	</div>
{% endblock %}

{% block menu_action %}
	<!-- pas de menu action ! -->
{% endblock %}
