{% extends "::base.html.twig"  %}


{% block title %}
Affectation
{% endblock %}

{% block content %}
<h3>Affected Timeslots</h3>
{% for timeslot in affected.timeslots %}
         {{ timeslot.begintime|date('l H:i') }} - {{ timeslot.endtime|date('H:i') }} - {{timeslot.task.name}} <br/>
    {% endfor %}
<h3>Affectable Timeslots</h3>
{% for timeslot in affectable %}
         {{ timeslot.begintime|date('l H:i') }} - {{ timeslot.endtime|date('H:i') }} - {{timeslot.task.name}} <br/>
{% endfor %}

{% endblock %}
