{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Affectation' %}

{% block editAction %}
{% endblock %}

{% block deleteAction %}
{% endblock %}

{% block newAction %}
{% endblock %}

{% block style %}
	{{ parent() }}	
	<link rel="stylesheet/less" href="{{ asset('bundles/phpm/css/affectation.less') }}" type="text/css" />
{% endblock %}

{% block javascript %}
	{{ parent() }}
	{# attention dans les include Javascript l'ordre compte ! #}
	{% javascripts 
		'@PHPMBundle/Resources/public/js/lib/jquery.history.js'
		'@PHPMBundle/Resources/public/js/affectation/util/*'
		'@PHPMBundle/Resources/public/js/affectation/model/*'
		'@PHPMBundle/Resources/public/js/affectation/view/*'
		'@PHPMBundle/Resources/public/js/affectation/controller/*'
		'@PHPMBundle/Resources/public/js/affectation/*'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<script type="text/javascript">
		pmAffectation.url = "{{ url('phpm__default_home') }}"; // l'url
	</script>
	
	<!-- contiendra les éventuels messages à afficher -->
	<div class="message_affection" id="message_affection"></div>
	
	<div class="menu_calendar" id ="menu_calendar">
		<div class="boutons_plage" id="boutons_plage"></div>
		<div class="bouton_hide_menu" id="bouton_hide_menu">^ Cacher ^</div>
	</div>
	
	<div class="client" id="client">
		<div class="sidebar_orga" id ="sidebar_orga">
			<div class="boutons_orga" id="boutons_orga">
				<button id="bouton_orga_prev">Bouton pr&eacute;c&eacute;dent</button>
				<button id="bouton_orga_next">Bouton suivant</button>
				
				<button id="bouton_refresh">Rafra&icirc;chir</button>
			</div>
			
			<div class="liste_orgas" id="liste_orgas">
				<!-- liste des orgas -->
			</div>
			
			<div class="filtre_orga" id="filtre_orga">
				<select name="confiance" id="filtre_orga_confiance">
					<option value="-1" selected>Tous les niveaux</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>

				<select name="permis" id="filtre_orga_permis">
					<option value="-1" selected>Permis ou pas</option>
					<!-- le reste sera mis en place dynamiquement -->
				</select>
				
				<select name="age" id="filtre_orga_age">
					<option value="-1" selected>Tous</option>
					<option value="18">au moins 18</option>
					<option value="19">au moins 19</option>
					<option value="20">au moins 20</option>
					<option value="21">au moins 21</option>
					<option value="22">au moins 22</option>
					<option value="23">au moins 23</option>
					<option value="24">au moins 24</option>
					<option value="25">25 et plus</option>
				</select>
			</div>
		</div>
		
		<div class="calendar" id="calendar">
			<!-- ici le calendrier/vue agenda -->
		</div>
		
		<div class="sidebar_tache" id="sidebar_tache">
			<!--<div class="boutons_orga" id="boutons_orga">
				<button id="bouton_orga_prev">Bouton pr&eacute;c&eacute;dent</button>
				<button id="bouton_orga_next">Bouton suivant</button>
				
				<button id="bouton_refresh">Rafra&icirc;chir</button>
			</div>-->
			
			<div class="liste_taches" id="liste_taches">
				<!-- liste des taches -->
			</div>
		</div>
	</div>
{% endblock %}

{% block menu_action %}
	<!-- pas de menu action ! -->
{% endblock %}
