{% if entities %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Date de Naissance</th>
            <th>Com'</th>
            <th width="10em">Départ</th>
            <th>Commentaire</th>
            <th>Dernière activité</th>            
            <th>Privilèges</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {%  for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.prenom }} {{ entity.nom }}{% if entity.surnom  %} ({{ entity.surnom }}){% endif %}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entitiesMacro.orgaEmail(entity.email) }}</td>
            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|format_date('dd MMM Y') }}{% endif%}</td>
            <td>{{ entitiesMacro.equipe(entity.equipe) }}</td>
            <td>{{ entity.departement }}</td>
            <td>
            {% if entity.commentaire %}
            <a class="btn  btn-info apopover" href="#" rel="popover" data-content="{{ entity.commentaire }}" data-original-title="Commentaire">Afficher</a>
            {% endif %}
            </td>
            <td>{{ entity.lastActivity|format_date('dd MMM Y') }}</td>
            <td>{{ entitiesMacro.orgaPrivileges(entity.privileges) }}</td>
            <td>
	            <span>
		            <a href="{{ path('orga_edit', { 'id': entity.id }) }}">Éditer</a>
		            <a href="{{ path('orga_inscriptionhard', { 'id': entity.id }) }}">Dispos</a>
		            <a href="{{ url('orga_affectation', { 'orga_id': entity.id }) }}">Affecter</a>
	            </span>
            </td>
        </tr>
        {%   endfor %}
    </tbody>
</table>
{% endif %}