{% if entities %}
<a href="javascript:void(0);" onclick="fnShowHide(7);">Afficher/masquer les commentaires<br></a>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Datedenaissance</th>
            <th>Com'</th>
            <th width="10em">Départ</th>
            <th>Commentaire</th>
            
            <th>Admin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {%  for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.prenom }} {{ entity.nom }}{% if entity.surnom  %} ({{ entity.surnom }}){% endif %}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|format_date('dd MMM Y') }}{% endif%}</td>
            <td>{{ entity.equipe }}</td>
            <td>{{ entity.departement }}</td>
            <td>{{ entity.commentaire }}</td>
            <td>{{ entity.isAdmin }}</td>
            <td>
	            <span>
		            <a href="{{ path('orga_edit', { 'id': entity.id }) }}">Éditer</a>
		            <a href="{{ path('orga_inscriptionhard', { 'id': entity.id }) }}">Dispos</a>
		            <a href="{{ url('orga_affectation', { 'orga_id': entity.id }) }}">Affecter</a>
	            </span>
            </td>
        </tr>
        {%   endfor %}
    </tbody>
</table>
{% endif %}