{% if entities %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Surnom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Datedenaissance</th>
            <th>Departement</th>
            <th>Commentaire</th>
            <th>Permis</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        {%  for entity in entities %}
        <tr>
            <td><a href="{{ path('orga_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.surnom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|format_date('dd MMM Y') }}{% endif%}</td>
            <td>{{ entity.departement }}</td>
            <td>{{ entity.commentaire }}</td>
            <td>{% render "PHPMBundle:Config:display" with {'field': 'manifestation.permis.libelles', 'key':entity.permis} %}</td>
            <td>{{ entity.isAdmin }}</td>
        </tr>
        {%   endfor %}
    </tbody>
</table>
{% endif %}