{% if entities %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Surnom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Datedenaissance</th>
            <th>Com'</th>
            <th>Departement</th>
            <th>Commentaire</th>
            <th>Permis</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {%  for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.surnom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|format_date('dd MMM Y') }}{% endif%}</td>
            <td>{{ entity.equipe }}</td>
            <td>{{ entity.departement }}</td>
            <td>{{ entity.commentaire }}</td>
            <td>{{entity.permis|permis}}</td>
            <td>{{ entity.isAdmin }}</td>
            <td><span><a href="{{ path('orga_show', { 'id': entity.id }) }}">Détails</a> - <a href="{{ path('orga_edit', { 'id': entity.id }) }}">Éditer</a> - <a href="{{ path('orga_inscriptionhard', { 'id': entity.id }) }}">Dispos</a></span>
            </ul>
            
            </td>
        </tr>
        {%   endfor %}
    </tbody>
</table>
{% endif %}