{% extends "PHPMBundle:DisponibiliteInscription:layout.html.twig"  %}
{% set pageTitle = 'Classement Charisme' %}


{% block content %}

<table style="float:left; margin-right:2em;">
    <thead>
    <tr><th colspan="3"><h2>Orgas</h2></th></tr>
        <tr> 
            <th>Charisme</th>
            <th>Orga</th>
            <th>Départ'</th>
                
              
        </tr>
        

    </thead>
    <tbody>
   
        {%  for entity in orgas %}
        <tr 
        {% if app.security.getToken().getUser() == entity.0 %}
        style = "color:red;"
        {% endif %}
        
        
         >
        <td>{{ entity.nbc * 10 }}</td>
        <td>{{ entity.0.prenom }}{% if entity.0.surnom  %} ({{ entity.0.surnom }}){% endif %}  </td>
        <td>{{ entity.0.departement }} </td>    
            
        </tr>
        {%   endfor %}
    
    </tbody>
</table>

<table >
    <thead>
    <tr><th colspan="2"><h2>Départs'</h2></th></tr>
        <tr>
            <th>Départ'</th>
            <th>Charisme</th>            
            
                
              
        </tr>
        

    </thead>
    <tbody>
   
        {%  for entity in departs %}<tr>
        <td>{{ entity.departement }} </td> 
        <td>{{ entity.nbc * 10 }}</td>
            
        </tr>
        {%   endfor %}
    
    </tbody>
</table>

{% endblock %}
