{% extends "::base.html.twig"  %}

{% block title %}
	Orga -> Import
{% endblock %}


{% block content %}
<table class="records_list">
    <thead>
        <tr>
        	<th>Message</th>
        	<th>Champs invalide</th>
        	<th>Valeur Invalide</th>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Surnom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Datedenaissance</th>
            <th>Departement</th>
            <th>Commentaire</th>
            <th>Permis</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in errors %}
        <tr>
            <td>{{ entity.message }}</td>
            <td>{{ entity.champInvalide }}</td>
            <td>{{ entity.valeurInvalide }}</td>            
            <td><a href="{{ path('orga_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.surnom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.departement }}</td>
            <td>{{ entity.commentaire }}</td>
            <td>{{ entity.permis }}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% endblock %}