{% extends "::base.html.twig"  %}


{% block title %}
Orga list
{% endblock %}






{% block content %}


<ul>
    {% for entity in entities %}


	<li>
	<a href="{{ path('orga_planning', { 'id': entity.id }) }}">{{ entity.name }}</a>
	 - <a href="{{ path('orga_edit', { 'id': entity.id }) }}">edit</a>
	 - <a href="{{ path('orga_show', { 'id': entity.id }) }}">show</a>
	</li>




	{% endfor %}

</ul>
<ul>
    <li>
        <a href="{{ path('orga_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}