{% extends "::base.html.twig"  %}
{% block content %}
<h1>Liste des organisateurs</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Surnom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Datedenaissance</th>
            <th>Departement</th>
            <th>Commentaire</th>
            <th>Permisb</th>
            <th>Permisb2ans</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('orga_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.surnom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.departement }}</td>
            <td>{{ entity.commentaire }}</td>
            <td>{{ entity.permisB }}</td>
            <td>{{ entity.permisB2ans }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('orga_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('orga_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block menu_actions %}
<ul>
    <li>
        <a href="{{ path('orga_new') }}">
            Cr&eacute;er un nouvel orga
        </a>
    </li>
</ul>
{% endblock %}

