{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Disponibilités' %}

{% form_theme form _self %}

{% block pageHeader %}
{% endblock %}

{% block content %}
{% if (app.request.get('new')==true) %}
<script>
function unloadMess(){
mess = "Attention, tes changements n'ont pas été enregistrés";
return mess;
}
function setBunload(on){
window.onbeforeunload = (on) ? unloadMess : null;
}
setBunload(true);
</script>
{% endif %}
    <form {% if (app.request.get('new')==true) %}onsubmit="javascript:setBunload(false);"{% endif %} action="{{ path('orga_inputdispos',{'id':orga.id }) }}" method="post" {{ form_enctype(form) }}>
	    <div class="row-fluid">       
	    	<div class="page-header">
	         	{% if is_granted('ROLE_ADMIN') %}
	         		<h1>Disponibilités de {{ orga.prenom }} {{ orga.nom }}</h1>
	         	{% else %}
	         		<h1>Tes disponibilités</h1>
	         	{% endif %}
	         </div>
	    </div>

	    
	    <div class="row-fluid"> 
		    <div class="well">
	         		{{ phpm_inscription_disponibilites_consignes | raw }}
		    {% if is_granted('ROLE_USER') %}
		    	<em>Les créneaux oranges ne sont plus modifiables une fois cochés.</em>
		    {% endif %}	
		    {{ form_errors(form) }}
		    
		    </div>
		    {% if charismeInsuffisant is defined%}
		       	<div class="alert alert-block alert-error fade in">
		            <h4 class="alert-heading">Attention : Tu n'as pas rempli assez de disponibilités.</h4>
		    </div>
		        {% endif %}
		    {% for categorie,di_jour in entities%}
		    <div style="display:inline-block; margin-right: 2em" class="well">
				<h3>{{ (missions[categorie]).nom }}</h3>
				<p><em>{{ (missions[categorie]).description }}</em></p>
					    {% for jour,d in di_jour %}
					    <div style="min-width:9em; float:left; margin-right: 1em">
					    <h4>{{ jour }}</h4>
							{% for e in d %}<div>
						            <label class="checkbox {% if e.statut == 1 %}statut1{% endif %}">
					    			{{ e.debut |format_datetime('HH:mm')}} <i class="icon-arrow-right"></i> {{ e.fin |format_datetime('HH:mm')}}
					    			<input class="shiftkeybox"type="checkbox" name="phpm_bundle_inputdispostype[disponibiliteInscriptionItems][{{ e.id }}]"
					    			id="phpm_bundle_inputdispostype_disponibiliteInscriptionItems_{{ e.id }}" value="{{ e.id }}"
					    			{% if e in orga.disponibilitesInscription %}checked="checked"{% endif %} 
					    			{% if (e.statut == 0 or (e.statut>=1 and e in orga.disponibilitesInscription)or (e.debut.timestamp - now.timestamp < 0)) and not is_granted('ROLE_ADMIN') %}disabled{% endif %}
{# 					    			{% if e in orga.disponibilitesInscription or (e.debut.timestamp - now.timestamp < 0) %}disabled{% endif %}#}
					    			>
					               </label></div>
							{% endfor %}
						</div>
					     {% endfor %}
					     <div class="clear"></div>
						
				
			</div>
			{% endfor %}
		</div>
		
		
		<div class="form-fluid">
			<div class="form-actions">
				<button class="btn btn-primary" type="submit" name="action" value="save" >Valider</button>
			</div>
	    </div>



{{ form_widget(form._token) }}
</form>



{% endblock %}

