{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Cr&eacute;ation d\'un Organisateur' %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block editAction %}
{% endblock %}

{% endblock %}

{% block content %}
<form action="{{ path('orga_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('orga') }}">
            Revenir &agrave; la liste
        </a>
    </li>
</ul>
{% endblock %}