<!DOCTYPE html>
<html>
    <head>
        {% block head %}
      	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Planning Printing - PHPlanningMaker</title>
        {% block style %}
			{% stylesheets '@PHPMBundle/Resources/public/css/planningPrint.css' %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}
			{% endblock %}
        {% endblock %}
        
<script language="Javascript1.2">
<!--
  function printpage() {
  window.print();
  }
//-->
</script>
    </head>
    <body onload="printpage()">
        {%  for o in entities %}
            {% block header %}
            
  
                <div class="header"  >
                <h1>{{o.prenom}} {{o.nom}}{% if o.surnom %} <i>({{o.surnom}})</i>{% endif %}</h1>
                </div>
        	
            {% endblock %}
            {% block content %}
            {%  for d in o.disponibilites %}
                {%  for c in d.creneaux %}
                        <div class="creneau" >
                        
                            <h2>{{ c }} - {{ c.plageHoraire.tache.nom }} ({{ c.plageHoraire.tache.lieu }})</h2>
                                {% if c.plageHoraire.tache.id != o.id %}
                                <h3>Responsable :</h3>
                                <p>{{ c.plageHoraire.tache.responsable.prenom }} {{ c.plageHoraire.tache.responsable.nom }}
                                {% if c.plageHoraire.tache.responsable.surnom %} <i>({{ c.plageHoraire.tache.responsable.surnom }})</i>{% endif %}
                                - {{ c.plageHoraire.tache.responsable.telephone }}
                                </p><br/>
                                {% endif %}
                            <h3>Consignes :</h3>
                            <p>{{ c.plageHoraire.tache.consignes }}</p><br/>
                            {% if c.plageHoraire.tache.materielNecessaire %}
                            <h3>Matériel Nécessaire :</h3>
                            <p>{{ c.plageHoraire.tache.materielNecessaire }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
        	
            {% endblock %}
            {% block footer %}
        	<div class="break"></div>
            {% endblock %}
		

		{%   endfor %}
    
    </body>
</html>
