{% extends "::base.html.twig"  %}

{% block title %}
	Orga -> Planning -> {{ orga.prenom }} {{ orga.nom }}
{% endblock %}

{% block menu_action %}
{% endblock %}

{% block content %}

<h2>Planning de l'orga :</h2>

<table class="records_list">
    <thead>
        <tr>
        	<th>Prenom</th>
            <th>Nom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Nombre heures orga</th>
        </tr>
    </thead>
    <tbody>
  
        <tr>    
            <td>{{ orga.prenom }}</td>       
            <td>{{ orga.nom }}</td>
            <td>{{ orga.telephone }}</td>
            <td>{{ orga.email }}</td>
            <td>{{ orga.email }}</td>
            </td>
        </tr>
    </tbody>
</table>

	<h3>Jour : </h3>
{%for jourCreneau in creneauxParJour %}
	<h3>Jour : {% jourCreneau % }</h3>
	{%for creneau in jourCreneau %}
		{{creneau.plageHoraire.tache.consignes}}	
	{% endfor %}
{% endfor %}


    
{% endblock %}