{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Planning d\'un Organisateur' %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block indexAction %}
{% endblock %}

{% endblock %}


{% block content %}
{% import "PHPMBundle::macro_nbToDay.html.twig" as nbToDay %}

<h2>Planning de l'orga : {{ entity.prenom }} {{ entity.nom }}</h2>

<table class="records_list">
    <thead>
        <tr>
        	<th>Prenom</th>
            <th>Nom</th>
            <th>Telephone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
  
        <tr>    
            <td>{{ entity.prenom }}</td>       
            <td>{{ entity.nom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            </td>
        </tr>
    </tbody>
</table>

{% for jour, jourCreneau in creneauxParJour %}
	<h3>Jour : {{nbToDay.nbToDay(jour)}}</h3>

 	<table>
 		<thead>
	      <tr>
        	<th>Nom de la Tache</th>
            <th>Plage horaire</th>
            <th>Description</th>
            <th>Lieu</th>
            <th>Mat&eacute;riel necessaire</th>
          </tr>
        </thead>
        
         	{%for creneau in jourCreneau %}
        <tbody>
 	        <tr>    
            <td>{{ creneau.plageHoraire.tache }}</td>       
            <td>{{ creneau }}</td>
            <td>{{ creneau.plageHoraire.tache.consignes }}</td>
            <td>{{ creneau.plageHoraire.tache.lieu }}</td>
            <td>{{ creneau.plageHoraire.tache.materielNecessaire }}</td>
            </td>
       	    </tr>
     

	{% endfor %}
	</table>
{% endfor %}

{% endblock %}