{% extends "::base.html.twig"  %}

{% block title %}
	Orgas -> D&eacute;tails Orga
{% endblock %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ entity.prenom }}</td>
        </tr>
        <tr>
            <th>Surnom</th>
            <td>{{ entity.surnom }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ entity.telephone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Datedenaissance</th>
            <td>{{ entity.dateDeNaissance|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Departement</th>
            <td>{{ entity.departement }}</td>
        </tr>
        <tr>
            <th>Commentaire</th>
            <td>{{ entity.commentaire }}</td>
        </tr>
        <tr>
            <th>Permis</th>
            <td>{{ entity.permis }}</td>
        </tr>

    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('orga') }}">
            Revenir &agrave; la liste
        </a>
    </li>
    <li>
        <a href="{{ path('orga_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('orga_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}