{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Détail d\'un Organisateur' %}
{% use "PHPMBundle::show.html.twig" %}


{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ entity.prenom }}</td>
        </tr>
        <tr>
            <th>Surnom</th>
            <td>{{ entity.surnom }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ entity.telephone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Datedenaissance</th>
            <td>{{ entity.dateDeNaissance|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Departement</th>
            <td>{{ entity.departement }}</td>
        </tr>
        <tr>
            <th>Commentaire</th>
            <td>{{ entity.commentaire }}</td>
        </tr>
        <tr>
            <th>Permis</th>
            <td>{{ entity.permis }}</td>
        </tr>

    </tbody>
</table>
{% endblock %}

{% block actions %}
{{ parent() }}
    <li>
        <a href="{{ path('orga_planning', { 'id': entity.id }) }}">
            Voir le planning
        </a>
    </li>
    <li>
        <a href="{{ path('disponibilite_orga_new', { 'orgaid': entity.id }) }}">
            Creer des Disponibilit&eacute;s
        </a>
    </li>

</ul>
{% endblock %}