{% extends "::base.html.twig"  %}

{% block title %}
	Orga -> Import
{% endblock %}

{% block menu_action %}
{% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Datedenaissance</th>
            <th>Commentaire</th>
            <th>Nombre heures orga</th>
            <th>Validation</th>
        </tr>
    </thead>
    <tbody>
    <form action="">
    {% for entity in entities %}
        <tr>           
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.commentaire }}</td>
            <td>Nombre heures orga</td>
            <td> <input type="checkbox" name="vehicle" value="Car" checked/> I have a bike<br /> </td>
        </tr>
    {% endfor %}
    </form> </td>
    </tbody>
</table>

<p>Les autres orgas ont &eacute;t&eacute; correctement import&eacute; dans la base <br />
	Veuillez les valider pour pouvoir les affecter.
</p>
    
{% endblock %}