{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Validation' %}

{% block editAction %}
{% endblock %}

{% block deleteAction %}
{% endblock %}

{% block newAction %}
{% endblock %}

{% block content %}

{% if entities%}

<form method="POST" >
    <table>
    	<thead>
    		<tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Disponibilit&eacute; Inscription</th>
                <th>Temps dispo (en h)</th>
                <th>Commentaire</th>
                <th>Validation</th>
    		</tr>
    	</thead>
    	<tbody>
    		{%  for entity in entities %}
    		<tr>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.email }}</td>
                <td>    
                    {% if entity.disponibilitesInscription is not empty %}        
                        {% for dispo in entity.disponibilitesInscription %}
                            {{ dispo.debut | date('D H:i')}} - {{ dispo.fin | date('D H:i')}}<br/>
                        {% endfor %}
                    {% else%} 
                    <p> ATTENTION AUCUNE DISPONIBILITE A AJOUTER ! </p> 
                    {% endif %}
                </td>
    
                <td>{{ entity.nbHeuresInscription | number_format()}}</td>
                <td>{{ entity.commentaire}}</td>
                <td>                
                    <label for="v{{ entity.id}}">Valider</label> <input type="radio" name="{{ entity.id}}" value="1" id="v{{ entity.id}}" /> <br/>
                    <label for="a{{ entity.id}}">Attendre</label><input type="radio" name="{{ entity.id}}" value="0" id="a{{ entity.id}}" checked /> <br/>
                    <label for="s{{ entity.id}}">Supprimer</label><input type="radio" name="{{ entity.id}}" value="2" id="s{{ entity.id}}" /><br/>
                </td>
            </tr>
            {%   endfor %}
    	</tbody>
    </table>
    

    <input type="Submit" value="Valider" />
    </form> 
   
    <p> Veuillez valider les orgas pour pouvoir les affecter. </p>
{% else%}
<p> Aucun orga &agrave; ajouter ! </p>

    
{% endif %}

    
{% endblock %}