{% extends "::base.html.twig"  %}

{% block title %}
	Orga -> Import
{% endblock %}

{% block menu_action %}
{% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Disponibilit&eacute;</th>
            <th>Temps dispo</th>
            <th>Commentaire</th>
            <th>Validation</th>
        </tr>
    </thead>
    <tbody>
    <form action="">
    {% for entity in entities %}
        <tr>           
            <td>{{ entity['nom'] }}</td>
            <td>{{ entity['prenom'] }}</td>
            <td>{{ entity['telephone'] }}</td>
            <td>{{ entity['email'] }}</td>
            <td>{{ entity['disponibilite']}}</td>
            <td>{{ entity['tempsDisponibleTotal']}}</td>
            <td>{{ entity['commentaire']}}</td>
            <td> <input type="checkbox" name="{{ entity['id']}}" value="{{ entity['id']}}" checked/> Valider </td>
        </tr>
    {% endfor %}
    </form> </td>
    </tbody>
</table>

<p>Les autres orgas ont &eacute;t&eacute; correctement import&eacute; dans la base <br />
	Veuillez les valider pour pouvoir les affecter.
</p>
    
{% endblock %}