{% macro orga(entity) %}
 <a href="{{ path('orga_edit', { 'id': entity.id }) }}">{{ entity.prenom }} {{ entity.nom }}{% if entity.surnom  %} ({{ entity.surnom }}){% endif %}</a>
{% endmacro %}

{% macro groupeTache(entity) %}
 <a href="{{ path('groupetache_edit', { 'id': entity.id }) }}">{{ entity.id }}- {{ entity.nom }}</a>
{% endmacro %}