{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Impression Laissez-Passer' %}

{% block body %}
<style>
.bordered-pass {
    border-style: dashed;
}
@media print {
.pagebreak{
    page-break-before:always;

    
}

.pass{
	width:100%;
    padding-top:15pt;
    page-break-inside: avoid;
    page-break-before:auto;
    page-break-after: always;

    
}

.bordered-pass {
    border-style: dashed;
}

.navbar { display: none; }
}
</style>
{% for personne in entity.personnes %}
<div class="pass">
<div style="height:70pt">
    <div>
        <h1>LAISSEZ-PASSER</h1>
        <h4>24 HEURES DE L'INSA - 41E EDITION <small>DIRECTION SÉCURITÉ</small></h4>
        <div style="position:absolute; float:right; top:5pt; right: 5pt; width:90pt;  ">
            <img src="{{ asset("bundles/assomakerpasssecu/images/logo-24-41.png") }}">
        </div>
    </div>
</div>
<div class="clear" ></div>

<div class="bordered-pass" style="border:1px solid dashed; padding: 2pt; margin-top: 3em;">
<h4 style="text-align:center">CE PASS EST <b>VALABLE</b> DE {{ validites[entity.validiteDebut] | upper}} À {{ validites[entity.validiteFin] | upper}}.</h4>
<h4>IL A ÉTÉ DÉLIVRÉ À LA PERSONNE SUIVANTE ET NE PEUT ÊTRE CÉDÉ</h4>
<p style="font-size: large;">
    <b>ENTREPRISE / ORGANISME / ENTITÉ : </b>{{ entity.entite | upper }}<br>
    <b>M OU MME : </b>{{ personne.nom | upper}}<br>
    <b>INFORMATIONS COMPLÉMENTAIRES : </b>{{ entity.infosSupplementaires | upper}}<br>
    
</p>

</div>

<div style="text-align: center; margin-top: 1em">
<p>CE LAISSEZ-PASSER VOUS PERMET D'ACCÉDER AVEC UN VÉHICULE AU CAMPUS LYONTECH / LA DOUA PENDANT LE FESTIVAL DES 24 HEURES DE L'INSA</p>
<p>Ce laissez-passer est valable UNIQUEMENT aux points de suivants :</p>
        <div class="span6" style="min-height:22em; margin-left: 130pt">
        <div style="position: absolute; z-index:-1;padding-left: .2em;">        
        <img src="{{ asset("bundles/assomakerpasssecu/images/Plan37.png") }}"/>
        
        </div> 
        
        {% for n,p in entity.pointsPassage if p == 'true' %}
        <div style="position: absolute;"><img src="{{ asset("bundles/assomakerpasssecu/images/PS"~(n+1)~".png") }}"/></div>
        {% endfor %}

        </div>
</div>

<div class="bordered-pass" style="border:1px solid dashed; padding-top: 1pt; margin-top: 1em">
<h4>INFORMATIONS IMPORTANTES</h4>
<p>CONFORMÉMENT AUX DISPOSITIONS PRISES DANS LE CADRE DU FESTIVAL, SANS CE LAISSEZ-PASSER, L'ENTRÉE VOUS SERA REFUSÉE AU CONTRÔLE
-- IL EST INTERDIT DE MODIFIER TOUT OU PARTIE DU PRÉSENT LAISSEZ PASSER</p>
<p>
CONTACT : 04 72 43 70 00 - securite@24heures.org<br>
PC SÉCURITÉ PENDANT LE FESTIVAL : 04 72 43 70 70
</p>


<h4>SIGNATURE DE L'AUTORITÉ AYANT DÉLIVRÉ LE LAISSEZ PASSER : </h4>
<p>POUR LA DIRECTION SÉCURITÉ DES 24 HEURES, <br>
NICOLAS MINGHETTI, FAIT À VILLEURBANNE LE {{ "now"|date("m/d/Y") }} : </p>


<img style="width:160pt; padding-left:10em; margin-top:.5em" src="http://application.24heures.org/sig24h.png">


</div>

</div>

<div class="pagebreak"></div>
{% endfor %}

<script>
$(document).ready(function(){
	window.print();
});
</script>

{% endblock %}