{% if entities %}
<table class="table">
    <thead>
        <tr>
            <th>Orga</th>
            <th>Date de Naissance</th>
            <th>Date de permis</th>
            <th>Com'</th>
            <th width="10em">Départ</th>
            <th>Charisme</th>
            <th>Dernière Activité</th>
        </tr>
    </thead>
    <tbody>
        {%  for entity in entities %}
            <tr>
                <td>
	            {{ entitiesMacro.orga(entity) }} {{ entitiesMacro.orgaPrivileges(entity.privileges) }}<br>
	            {{ entity.telephone |telephone}}<br>
	            {{ entitiesMacro.orgaEmail(entity.email) }}<br>

           		{% if is_granted('ROLE_HUMAIN') or is_granted('ROLE_BUREAU')%}
	            	{% if app.request.get('statut') ==0  %}
                        <a class="btn btn-success" href="{{ path('orga_change_statut', { 'id': entity.id, 'statut': 1 }) }}">Valider</a>
            		{% endif %}
            		{% if app.request.get('statut') !=-1  %}

                        <div class = "btn-group">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a href="{{ path('orga_edit', { 'id': entity.id })  }}"><i class="icon-pencil"></i> Éditer</a></li>
                                <li><a href="{{ path('orga_inputdispos', { 'id': entity.id }) }}"><i class="icon-calendar"></i>Dispos</a></li>
                                <li><a href="{{ path('orga_affectation', { 'orga_id': entity.id }) }}"><i class="icon-book"></i>Affecter</a></li>
                                <li><a href="{{ path('orga_print', { 'orgaid': entity.id })  }}"><i class="icon-print"></i> Imprimer le planning</a></li>
                                <li><a href="{{ path('orga_change_statut', { 'id': entity.id, 'statut': 2 }) }}"><i class="icon-ok-circle"></i> Orga complètement affecté</a></li>
                                <li><a target="_blank" href="https://www.facebook.com/search/results.php?q={{ entity.prenom~"%20"~entity.nom |url_encode }}"><i class="icon-search"></i> Rechercher sur Facebook</a></li>
				            {% if entity.groupePC%}
                                    <li><a target="_blank" href="http://cipcnet.insa-lyon.fr/scol/php/apprec_groupe?id_annee={{ phpm_anneetrombi }}&id_groupe={{ entity.groupePC |url_encode }}"><i class="icon-search"></i> Afficher le trombi du groupe</a></li>
				            {% endif %}
                                        <li><a href="{{ path('orga_change_statut', { 'id': entity.id, 'statut': -1 }) }}">Mettre en attente</a></li>
                                    </ul>
                                </div>

					{% if entity.commentaire %}
                                <a class="btn  btn-info apopover" href="#" rel="popover" data-content="{{ entity.commentaire }}" data-original-title="Commentaire">Commentaire</a>

		            {% endif %}
		            {% if entity.amis %}
                                <a class="btn  btn-info apopover" href="#" rel="popover" data-content="{{ entity.amis }}" data-original-title="Amis">Amis</a>
		            {% endif %}


	          		{% endif %}
			        {% if app.request.get('statut') ==-1  %}
                                <a class="btn btn-success" href="{{ path('orga_change_statut', { 'id': entity.id, 'statut': 0 }) }}">Restaurer</a>
                                <a class="btn btn-danger"href="{{ path('orga_delete', { 'id': entity.id }) }}">Supprimer</a>
			        {% endif %}
			{% endif %}

                            </td>
                            <td>{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|format_date('dd MMM Y') }}{% endif%}</td>
                            <td>
                            {% if entity.datePermis %}
                            {% if entity.fichierPermisSet %}
                                    <a href="{{asset( 'up/fichiersPermis/'~entity.id~'.pdf' )}}">{{ entity.datePermis|format_date('dd MMM Y') }}</a>
                                    {%else%}
                                    {{ entity.datePermis|format_date('dd MMM Y') }}
                                    {%endif%}
                            {% endif%}
                                </td>
                                <td>{{ entitiesMacro.equipe(entity.equipe) }}</td>
                                <td>{{ entity.anneeEtudes }}{{ entity.departement }}</td>
                                <td>{{ entity.charisme }}</td>
                                <td>{{ entity.lastActivity |format_datetime('EEEE dd MMM HH:mm') }}</td>


{#              	<td>#}
{# 	             	<ul>#}
{# 	             	{% for dispo in entity.disponibilites %}#}

{# 	             	<li>{{ dispo.debut |format_datetime('EEEE dd MMM HH:mm') }}#}
{# 	             	->#}
{# 	             	{{ dispo.fin |format_datetime('EEEE dd MMM HH:mm') }}#}
{# 	             	</li>#}
{# 	             	{% endfor %}#}
{# 	             	</ul>#}
{#              	</td>#}


                            </tr>
        {%   endfor %}
                        </tbody>
                    </table>
{% endif %}