{% extends "AssoMakerBaseBundle:Orga:layout.html.twig"  %}
{% set pageTitle = entity.prenom~' '~entity.nom %}
{% use "AssoMakerPHPMBundle::edit.html.twig" %}


{% block content %}
	<form class="form-horizontal" action="{{ path('orga_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	{{ form_widget(edit_form) }}
	<div class="form-actions">
	    <div class="btn-toolbar">
	        <button class="btn btn-primary" type="submit">Enregistrer</button>
	        
			{% if is_granted('ROLE_ADMIN') %}
		        <a class="btn" href="{{ path('orga_inputdispos', { 'id': entity.id }) }}"><i class="icon-calendar"></i>Disponibilités</a>
				<a class="btn" href="{{ path('orga_affectation', { 'orga_id': entity.id }) }}"><i class="icon-book"></i>Affecter</a>
				<a class="btn" href="{{ path('orga_print', { 'orgaid': entity.id })  }}"><i class="icon-print"></i> Imprimer le planning</a>	
				<a class="btn" target="_blank" href="https://www.facebook.com/search/results.php?q={{ entity.prenom~"%20"~entity.nom |url_encode }}"><i class="icon-search"></i> Rechercher sur Facebook</a>
				{% if entity.groupePC%}
				<a class="btn" target="_blank" href="http://cipcnet.insa-lyon.fr/scol/php/apprec_groupe?id_annee=2011&id_groupe={{ entity.groupePC |url_encode }}"><i class="icon-search"></i> Afficher le trombi du groupe</a>
				{% endif %}
				<a class="btn" href="{{ path('autologin', { 'id': entity.id, 'loginkey': (entity.id)|phpm_crypt }) }}">Se connecter en tant que cet orga.</a>
			{% endif %}
			
		</div>
	</div>
	</form>
{% endblock %}

{% block actions %}
{% if is_granted('ROLE_ADMIN') %}
{{ parent() }}
{% else %}
{% endif %}
{% endblock %}