{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Liste des Organisateurs' %}
{% use "AssoMakerPHPMBundle::index.html.twig" %}

{% block content %}
<div class="row-fluid">
	<div class="span2">
		<ul class="nav nav-list">
			<li class="nav-header">Orgas</li>
			<li{% if app.request.get('statut') ==0  %} class="active" {% endif %}>
			    <a href="{{ path('orga', {'statut':0, 'confiance':app.request.get('confiance')}) }}"><i class="icon-ban-circle"></i> Non validé</a>
			</li>
			<li{% if app.request.get('statut') == 1 %} class="active" {% endif %}>
			    <a href="{{ path('orga', {'statut':1, 'confiance':app.request.get('confiance')}) }}"><i class="icon-ok-circle"></i> Validé</a>
			</li>
			<li{% if app.request.get('statut') == 2 %} class="active" {% endif %}>
			    <a href="{{ path('orga', {'statut':2, 'confiance':app.request.get('confiance')}) }}"><i class="icon-ok-circle"></i> Complétement affecté</a>
			</li>
			<li{% if app.request.get('statut') == -1 %} class="active" {% endif %}>
			    <a href="{{ path('orga', {'statut':-1, 'confiance':app.request.get('confiance')}) }}"> Mis en attente</a>
			</li>
			<li class="divider"></li>
			<li class="nav-header">Confiance</li>
		
			<li class="dropdown
			{% if app.request.get('confiance') != 'all' and app.request.get('confiance') != app.user.equipe.id  %} active {% endif %}">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Par confiance<b class="caret"></b></a>
			    <ul class="dropdown-menu">
			    {% for confiance in confiances %}
					<li 
					{% if app.request.get('confiance') == confiance.id %}
					class="active"
					{% endif %}
					>
					    <a href="{{ path('orga', {'statut':app.request.get('statut'), 'confiance':confiance.id, }) }}">{{ confiance }}</a>
					</li>
				{% endfor %}
				<li {% if app.request.get('confiance') == 'all' %} class="active" {% endif %}>
					    <a href="{{ path('orga', {'statut':app.request.get('statut'), 'confiance':'all' }) }}">{{ 'Toute confiance' }}</a>
					</li>
			    </ul>
			 </li>
		</ul>
	</div>
	<div class="span10">
		{% include 'AssoMakerBaseBundle:Orga:afficheListe.html.twig' %}
	</div>
</div>

{% endblock %}

{% block actions %}
{% endblock %}


