{% extends "AssoMakerPHPMBundle::layout.html.twig"  %}
{% set pageTitle = 'Impression Planning' %}

{% block body %}

<style>

p{
font-size: 10pt;
}        
        
h1{
font-size: 16pt;
}

h2{
font-size: 14pt;
}

h3{
font-size: 14pt;
}

h4{
font-size: 12pt;
}

p,h2,h3{
line-height:1em;
}



.orga{
	width:100%;
    
    
}

.pagebreak{
    page-break-before:always;

    
}

.creneau{
	width:100%;
    page-break-inside: avoid;
    page-break-before:auto;
    page-break-after: auto;
     border-bottom:solid 1pt lightgray;
    
}


.horaires{
float:left;
}

.responsable{
float:right;
text-align:center;
}

.lieu{
float:right;
}
.infos{
overflow:auto;
}



</style>
<div class="row-fluid " >
{% for key,orga in orgas %}

<div class="pagebreak"></div>&nbsp;
<div class="pagebreak"></div>

<div class="orga">
<h1>{{ entitiesMacro.orga(orga) }}</h1>
{{ phpm_planning_message |raw }} Planning valable du {{ debut | format_datetime('EEEE dd MMM HH:mm') }} au  {{ fin | format_datetime('EEEE dd MMM HH:mm') }}.


	{% for d in orga.disponibilites %}
	{% for creneau in d.creneaux if creneau%}
	
	  <div class="creneau">
	  <div class="infos">
	  <div class="horaires">
	  <h3>
	      {{ creneau.debut | format_datetime('EEEE dd MMM HH:mm') }}
	  	    <i class="icon-arrow-right"></i>
	  	  {%  if (creneau.debut | format_datetime('dd'))==(creneau.fin | format_datetime('dd')) %}
	  	  {{ creneau.fin | format_datetime('HH:mm') }}
	  	  {% else %}
	  	  {{ creneau.fin | format_datetime('EEEE dd MMM HH:mm') }}
	  	  {% endif %}
	  	  </h3>
	  	</div>
	  	
	  <div class="lieu"><h3><small>{{ creneau.plageHoraire.tache.lieu }}</small></h2></div>
	 </div>
	 	<div>
	 		<div class="titre"><h3>{{ creneau.plageHoraire.tache.groupeTache.nom }} / {{ creneau.plageHoraire.tache.nom }}</h3></div>
	 		{% if creneau.plageHoraire.creneaux| length > 1 %}
		 		<b>Avec : </b>
		 		{% for c2 in creneau.plageHoraire.creneaux if  c2.id != creneau.id %}
		 			{{ entitiesMacro.orga(c2.disponibilite.orga) }}
		 		{% endfor %}
				<br>
	 		{% endif %}
	 		<b>Responsable : </b>{{ entitiesMacro.orga(creneau.plageHoraire.tache.responsable) }} 
	 									{{ creneau.plageHoraire.tache.responsable.telephone }}<br>
	 		

	 									
	 	</div>
	  {% if creneau.plageHoraire.tache.consignes  %}
		  <div class="consignes">
		    <h3>Consignes</h3>{{ creneau.plageHoraire.tache.consignes |raw}}
		  </div>
	  {% endif %}
	  {% if creneau.plageHoraire.tache.besoinsMateriel | length >0 %}
		  <div class="consignes">
		    <h4>Matériel Nécessaire</h4>
				{% for bm in creneau.plageHoraire.tache.besoinsMateriel if bm.quantite > 0 %}
					{{ bm.materiel.nom }},
		    	{% endfor %}
		  </div>
	  {% endif %}
	  
	   
	  
	
		</div>

 	{% endfor %}
	{% endfor %}
 

</div>

	{% endfor %}

</div>
{% endblock %}