{% import "AssoMakerBaseBundle:Macros:entities.html.twig" as entitiesMacro %}
{% set pageTitle = 'Impression Planning' %}

{% block style %}
{%endblock%}
{% block body %}

<style>

    @page :first {
        @top-center {
            content: "Planning Gala XIX"
        }
    }

    @page  {
        font-size: 11px;
        margin:1.5cm 0.3in;

        @top-center {
            content: "Planning de {{ entitiesMacro.orga(orga) }}";
        }
        @bottom-center  {
        content: "Page " counter(page) " sur " counter(pages);
            margin-bottom: 50px;
        }

    }


.pagebreak{
    page-break-before:always;
}

#map{
    page-break-after: always;
}

.block{
    margin: 5px;
    border-radius: 2px;
    page-break-inside: avoid;
    border: outset 1px #000000;
}

.disclamer{
    margin-top: 50px;
    background: #d3d3d3;
}

.block-title{
    clear: both;
    background: #505050;
    color: #E0E0E0;
    font-size: 16px;
}
.block-title .right{
    padding: 5px;
    height: 100%;
    width: 30%;
    background: #000000;
    color: #ffffff;
    border-left: dotted 2px #ffffff;
    float: right;
}
.block-title .left{
    padding: 5px;
    width: 66.9%;
    float: left;
    background: #505050;
    color: #E0E0E0;
}

.block-content{
    clear: both;
    font-size: 13px;
    padding: 5px
}

.creneau{
	width:100%;
    page-break-inside: avoid;
    page-break-before:auto;
    page-break-after: auto;
     border-bottom:solid 1pt lightgray;
}

.horaires{
float:left;
}

.important{
    font-size: 16px;
}
.lieu{
float:right;
}



</style>
<div class="row-fluid " >
    <div style="margin-bottom:10px;">
        <img src="https://raw.githubusercontent.com/BdEINSALyon/logos-bde/master/Gala_Noir.png" style="float: left;">
        <img src="https://raw.githubusercontent.com/BdEINSALyon/logos-bde/master/Logo%20BdE%20noir.png" style="float: right; height:50px;">
        <div style="width:300pt; margin: 10px auto; text-align: center;"><h1>{{ entitiesMacro.orga(orga) }}</h1></div>
    </div>
    <div class="" style="clear: both">
        {% if phpm_planning_message != "" %}
        <div class="block block-content disclamer">
            {{ phpm_planning_message | raw }}
        </div>
        {% endif %}

        <div class="block">
            <div class="block-title" style="padding: 5px">SOS</div>
            <div class="block-content important">
                Sébastien, Resp. Orga : 06.31.26.19.96<br/>
                Jérémy, Resp. Sécu : 06.10.09.10.49
            </div>
        </div>

        <div class="block" id="map">
            <div class="block-title" style="padding: 5px">Plan du Palais</div>
            <div class="block-content">
                <img src="http://www.amnios.fr/images/plans/plan-maison-existant.jpg" width="100%">
            </div>
        </div>

        {% set counter = 1 %}
        {% for d in orga.disponibilites %}
        {% for creneau in d.creneaux if creneau%}

            <div class="block">
                <div class="block-title">
                    <div class="left">T&acirc;che {{ counter }}&nbsp;: {{ creneau.plageHoraire.tache.nom }}</div>
                    <div class="right">Où ? {{ creneau.plageHoraire.tache.lieu }}</div>
                </div>
                <div class="block-content">
                    <span class="important"><b>Quand ?</b> {{ creneau.debut | format_datetime('EEEE') }} de {{ creneau.debut | format_datetime('HH:mm') }}&nbsp;à&nbsp;{%  if (creneau.debut | format_datetime('dd'))==(creneau.fin | format_datetime('dd')) %}{{ creneau.fin | format_datetime('HH:mm') }}
                    {% else %}
                        {{ creneau.fin | format_datetime('EEEE HH:mm') }}
                    {% endif %}<br>
                    <b>Responsable :</b> {{ entitiesMacro.orga(creneau.plageHoraire.tache.responsable) }}</span>
                    {{ creneau.plageHoraire.tache.responsable.telephone }}<br>
                    {% if creneau.plageHoraire.creneaux| length > 1 %}
                    <b>Avec :</b> {% for c2 in creneau.plageHoraire.creneaux if  c2.id != creneau.id %}
                        {{ entitiesMacro.orga(c2.disponibilite.orga) }},&nbsp;
                    {% endfor %}<br>
                    {% endif %}
            {% if creneau.plageHoraire.tache.consignes  %}
                    <b>Consignes :</b>
                    <div class="consignes">
                        {{ creneau.plageHoraire.tache.consignes |raw}}
                    </div>
                {% endif %}
                    {% if creneau.plageHoraire.tache.besoinsMateriel | length >0 %}
                        <div class="consignes">
                            <b>Matériel Nécessaire&nbsp;:&nbsp;</b>
                            {% for bm in creneau.plageHoraire.tache.besoinsMateriel if bm.quantite > 0 %}
                                {{ bm.materiel.nom }},
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}
        {% endfor %}
</div>
{% endblock %}