{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Inscription Orga' %}

{% block content %}
	<form class="form-horizontal" action="{{ path('orga_register_user', { 'id': entity.id,'confianceCode':confianceCode }) }}" method="post" {{ form_enctype(form) }}>
		<div class="row-fluid">
			<div class="span4 well">
				<fieldset>
				    <legend>Informations de base</legend>
					    <div class="row-fluid">
							<div class="span12">
							    <div class="control-group">
								{{ form_row(form.nom) }}
								{{ form_row(form.prenom) }}
								{{ form_row(form.surnom) }}
								{{ form_row(form.email) }}
								{{ form_row(form.telephone) }}
								{{ form_row(form.dateDeNaissance) }}
								{{ form_row(form.equipe) }}
							    </div>
							 </div>
						</div>       			
	         			
				</fieldset>
			</div>
			<div class="span4 well">
				<fieldset>
			    	<legend>Renseignements Supplémentaires</legend>
			    	          {{ form_row(form.competences) }}
				              {{ form_row(form.anneeEtudes) }}
				              {{ form_row(form.departement) }}
				              {{ form_row(form.groupePC) }}
				              {{ form_row(form.celibataire) }}
	
				</fieldset>
			</div>
			<div class="span4 well">
				<fieldset>
			    	<legend>Autres</legend>
					{{ form_row(form.commentaire) }}
				</fieldset>
			</div>
	    </div>
    	{{ form_widget(form._token) }}
    	<div class="form-actions">
    	    <div class="btn-toolbar">
    	        <button class="btn btn-primary" type="submit">S'inscrire</button>
    		</div>
    	</div>
	</form>
{% endblock %}
