{% extends "AssoMakerBaseBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Inscription Orga Soft' %}

{% block body %}
<script>
function unloadMess(){
mess = "Attention, tes changements n'ont pas été enregistrés";
return mess;
}
function setBunload(on){
window.onbeforeunload = (on) ? unloadMess : null;
}
setBunload(true);
</script>
<form class="form-horizontal" onsubmit="javascript:setBunload(false);" action="{{ path('orga_registersoft',{'confianceCode':app.request.get('confianceCode'),'equipeId':app.request.get('equipeId')}) }}" method="post" {{ form_enctype(form) }}>
<div class="container-fluid">
	<div class="row-fluid">
		<h1>Inscription Orga
		{% if app.request.get('confianceCode') != "" %} {{ app.request.get('libelle') }}{% else %} {{ entity.equipe }} {% endif %}
		 - {{ manifestation_nom }}</h1>
		{% if app.request.get('confianceCode') != "" %}
		Le lien qui t'a été donné est strictement personnel, ne le donnes à personne.
		{% endif %}
		<hr>
	</div>
	
	<div class="row-fluid">
		<div class="well">
			<fieldset>
			    <legend>Renseignements Obligatoires</legend>
				   
					{{ form_row(form.prenom) }}
					{{ form_row(form.nom) }}
                    {{ form_row(form.email,{"help":"Adresse mail INSA de préférence."}) }}
			        {{ form_row(form.telephone,{"help":"Sans séparateurs : 0647682792"}) }}
			        {{ form_row(form.dateDeNaissance) }}
         			
			        <legend>Tu sais </legend>
         			<div class="control-group {% if form_errors(form.competences)|length > 0 %}error{% endif %}">
			            {{ form_errors(form.competences) }}
			              {% for comp in form.competences %}
                            <label class="checkbox">
                              {{ form_widget(comp) }} {{ comp.get('label') }} ?
                            </label>
			              {% endfor %}
         			</div>
         			</fieldset>     			
			
		</div>
		<div class="well">
			<fieldset>
		    	<legend>Renseignements Supplémentaires</legend>
			    {{ form_row(form.surnom) }}
         			<div class="control-group {% if form_errors(form.departement)|length > 0 %}error{% endif %}">
			            <label class="control-label">Infos INSA</label>
			            <div class="controls">
			              {{ form_widget(form.anneeEtudes) }}
			              {{ form_widget(form.departement) }}
			              {{ form_widget(form.groupePC) }}
			              <span class="help-inline">{{ form_errors(form.departement) }}<br> {{ form_errors(form.anneeEtudes) }} </span>
			            </div>
         			</div>
         			{{ form_row(form.datePermis) }}
         			

         			<div class="control-group">
			            <label class="control-label">Célib ?</label>
			            <div class="controls">
			            <label class="radio inline">
        		          <input type="radio" name="phpm_bundle_orgatype[celibataire]" id="inlineCheckbox1" value="1"> Oui
        		        </label>
        		        <label class="radio inline">
        		          <input type="radio" name="phpm_bundle_orgatype[celibataire]" value="0"> Non
        		        </label>
			            </div>
         			</div>
			</fieldset>
		</div>
		<div class="well">
			<fieldset>
		    	<legend>Noms des potes avec qui tu veux bosser</legend>
				<textarea id="phpm_bundle_orgatype_amis" name="phpm_bundle_orgatype[amis]" class="row-fluid"></textarea>
		
			</fieldset>
			<fieldset>
		    	<legend>Des commentaires ?</legend>
				<textarea id="phpm_bundle_orgatype_commentaire" name="phpm_bundle_orgatype[commentaire]" class="row-fluid"></textarea>
		
			</fieldset>
		</div>
    </div>
    
    <div class="form-fluid">
			<div class="form-actions">
				<button class="btn btn-success" type="submit">Continuer »</button>
			</div>
	</div>
    
    {{ form_widget(form._token) }}
</div>
</form>

{% endblock %}
