<table width="100%" cellpadding="0" cellspacing="0" style="font-family:helvetica,arial,sans-serif;color:#666665;">
<tbody>
    <tr>
        <td width="90"style="color:#666665;">
<b>{{ orga.prenom }} {{ orga.nom }}</b><br/>
            <small>{{ orga.role }}</small><br/>
            <span style="line-height:.5em"><br/></span>
            <small><u><a href="mailto:{{ orga.publicEmail }}" style="color:#444444">{{ orga.publicEmail }}</a></u></small><br/>
            <small>{{ orga.telephone |telephone}}</small><br/>
</td>
        <td width="200" style="text-align:right;vertical-align:bottom">
                        <img src="http://application.24heures.org/24.png" alt="24Heures" height="60" border="0"><br/>
<small>20, avenue Albert Einstein<br/>
            69621 Villeurbanne Cedex<br/>
       
            04 72 43 70 00<br/>
            <u><a href="http://www.24heures.org" style="font-family:helvetica,arial,sans-serif;color:#444444">www.24heures.org</a></u><br/>
</small>
        


</td>

    </tr>
    <tr>
        <td style="color:#666665;">
            
        </td>
        <td width="200" style="color:#666665; text-align:right; vertical-align:top;">
            
        </td>
    </tr>

</tbody>
</table>