{% extends "AssoMakerPHPMBundle::layout.html.twig"  %}
{% set pageTitle = 'Merci !' %}

{% block pageHeader %}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row-fluid">       
	        	<div class="page-header">
		        	<h1>Merci!</h1>
		        </div>
	</div>
	<div class="row-fluid">
			<div class="well">
				<p>Ton inscription a bien été validée, tu recevra un mail de confirmation à l'adresse <em>{{ orga.email }}</em></p>
	        	<p>Pour toute question, envoie un email à <a href="mailto:{{ phpm_admin_email }}">{{ phpm_admin_email }}</a></p>
				<h2>Ton charisme :</h2>
				<div class="progress progress-success progress-striped">
			        <div id="barreCharisme" class="bar"></div>
			        <script type="text/javascript">
					$('#barreCharisme').attr('style',"width: {{ stats.PCOrga/stats.PCMax*100 }}%");
			        </script>
			    </div>
			    <div style="text-align: center; font-size: x-large;">
			    	<div>Tes disponibilités t'ont permis de remporter {{ stats.PCOrga}} points de charisme !</div>
			    </div>
			
			</div>
			
	</div>
	<div class="row-fluid" >
			<a class="btn btn-primary btn-large"  href="{{ phpm_orgasoft_inscription_returnURL }}">J'ai terminé, retourner à l'accueil »</a>
	</div>
</div>





{% endblock %}
