{% extends "AssoMakerBaseBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Trombinoscope' %}
{% use "AssoMakerPHPMBundle::index.html.twig" %}

{% block content %}
<div class="row-fluid">
	{% for equipe in entities %}
		<div class="row-fluid">
			<h3>{{ equipe.nom }}</h3>
		</div>
		{% for key,orga in equipe.orgas %}
		{%  if loop.index0 % 4 == 0 %}
		<ul class="thumbnails">
		{%  endif %}
			<li class="span3">
                <div class="thumbnail">
                    {% if orga.profilePictureSet == 1 %}
			    	    <img src="{{ asset( 'up/profilePictures/'~orga.id~'.jpg' ) }}"/>
			        {% endif %}
                  <h4>{{ entitiesMacro.orga(orga) }}</h4>
                  <p>
                      <a href= "mailto:{{ orga.email }}">{{ orga.email }}</a><br/>
                      {{ orga.telephone |telephone}}
                  </p>
                </div>
             </li>
        {%  if loop.index0 % 4 == 3 %}
		</ul>
		{%  endif %}

		<hr>
		{% endfor %}
	
	{% endfor %}
</div>

{% endblock %}

{% block actions %}
{% endblock %}


