<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ block('title') }} - PHPlanningMaker</title>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        {# c'est pas très beau - on met un code 'générique' dans un block - mais à priori la seule méthode #}
        {% block style %}
			{% stylesheets '@PHPMBundle/Resources/public/css/style.css' %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}
		{% endblock %}
		
		{# même chose pour Javascript #}
        {% block javascript %}
			{% javascripts '@PHPMBundle/Resources/public/css/style.css' %}
				<script src="{{ asset_url }}" type="text/javascript"></script>
			{% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="header" >
        	<div class="title">
        		<h1>PlanningMaker &gt; {{ block('title') }}</h1>
        	</div>
        	
        	<div class="menu">
        		<ul>
        			<li><a href="{{ path('phpm__default_home') }}">Tableau de bord</a></li>
        			<li><a href="{{ path('orga') }}">Orga</a></li>
        			<li><a href="{{ path('orga_affectation') }}">Affectation</a></li>
        			<li><a href="{{ path('categorie') }}">Categorie</a></li>
        			<li><a href="{{ path('confiance') }}">Confiance</a></li>
        			<li><a href="{{ path('disponibilite') }}">Disponibilité</a></li>
        			<li><a href="{{ path('plagehoraire') }}">Plage Horaire</a></li>
         			<li><a href="{{ path('tache') }}">Tache</a></li>
        			<!--<li><a href="/">T&acirc;ches</a></li>
        			<li><a href="/">Administration</a></li>-->
        		</ul>
        	</div>
        	<br clear="all" />
       	</div>
       	
		<div class="menu_actions">
        	{% block menu_actions %}
        		<p>Menu Actions non-implémenté !</p>
        	{% endblock %}
        </div> 
        
        <div class="content">
        	{% block content %}
        		<p>Il y aura ici le contenu</p>
        	{% endblock %}
        </div> 
        
        <div class="footer">
        	&copy;2011 nous - PHPM
        </div>
    </body>
</html>
