{% extends "::base.html.twig"  %}
{% block content %}
{% block title %}
	Cat&eacute;gories -> Edition
{% endblock %}

<form action="{{ path('categorie_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('categorie') }}">
            Revenir &agrave; la liste de cat&eacute;gories
        </a>
    </li>
    <li>
        <form action="{{ path('categorie_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
