{% extends "::base.html.twig"  %}
{% block content %}
<h1>Cat&eacute;gories disponibles</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('categorie_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('categorie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('categorie_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('categorie_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('categorie_new') }}">
            Cr&eacute;er une nouvelle cat&eacute;gorie
        </a>
    </li>
</ul>
{% endblock %}
