{% extends "PHPMBundle:orga.html.twig"  %}

{% block title %}
	Cat&eacute;gories -> Cat&eacute;gories disponibles
{% endblock %}

{% block content %}
{% import "::macro_bouton_edit.html.twig" as bouton_edit %}
dsqdsd

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('categorie_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('categorie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.couleur }}</td>
            <td>
				{{ bouton_edit.bouton_edit( path('categorie_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('categorie_new') }}">
            Cr&eacute;er une nouvelle cat&eacute;gorie
        </a>
    </li>
</ul>
{% endblock %}
