{% if entities %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Orga</th>
            <th>T&acirc;che</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr style="cursor:pointer" onclick="window.location='{{ path('creneau_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('creneau_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td> {% if entity.disponibilite is not null %} {{ entity.disponibilite.orga }}{% endif%}</td>
            <td> {{ entity.plageHoraire.tache }}</td>
            <td>{% if entity.debut %}{{ entity.debut|format_datetime('dd MMM Y HH:mm') }}{% endif%}</td>
            <td>{% if entity.fin %}{{ entity.fin|format_datetime('dd MMM Y HH:mm') }}{% endif%}</td>
            <td>
				{{ bouton.edit( path('creneau_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}