{% extends "::base.html.twig"  %}

{% block title %}
	Cr&eacute;neaux -> D&eacute;tails du cr&eacute;neau
{% endblock %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Debut</th>
            <td>{{ entity.debut|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ entity.fin|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('creneau') }}">
            Retourner &agrave; la liste
        </a>
    </li>
    <li>
        <a href="{{ path('creneau_edit', { 'id': entity.id }) }}">
            Editer le cr&eacute;neau
        </a>
    </li>
    <li>
    	<a href="javascript:confirm_delete('{{ path('creneau_delete', { 'id': entity.id }) }}')">Supprimer</a>
    </li>
</ul>
{% endblock %}
