{% macro orga(entity) %}
{{ entity.prenom }} {{ entity.nom }}{% if entity.surnom  %} ({{ entity.surnom }}){% endif %}
{% endmacro %}

{% macro orgaPrivileges(privileges) %}
{% spaceless %}
{% if(privileges == 2) %}<span class="label label-important">Admin</span>{% endif %}
{% if(privileges == 1) %}<span class="label label-info">Orga</span>{% endif %}
{% if(privileges == 0) %}<span class="label">Visiteur</span>{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro orgaEmail(email) %}
<a href="mailto:{{ email }}">{{ email }}</a>
{% endmacro %}

{% macro orgaProfilePictureLink(id) %}
    {{ asset( 'up/profilePictures/'~id~'.jpg' ) }}
{% endmacro %}

{% macro groupeTache(entity) %}
 <a href="{{ path('groupetache_edit', { 'id': entity.id }) }}">{{ entity.id }}- {{ entity.nom }}</a>
{% endmacro %}

{% macro tache(tache) %}
<a class="statut{{  tache.statut }}" href="{{ path('tache_edit', { 'id': tache.id }) }}">{{ tache.id }}- {{ tache.nom }}</a>
{% endmacro %}

{% macro equipe(equipe) %}
<span style="color: {{ equipe.couleur }}">{{ equipe.nom }}</span>
{% endmacro %}

{% macro projet(projet) %}
<a href="{{ path('sponso_projet_edit', { 'id': projet.id }) }}">{{ projet.nom }}</a>
{% endmacro %}

{% macro tacheCom(tache) %}
{% if tache.commentaires.count >0 %}
<span class="lcom"><span class="com_auteur">{{tache.commentaires.last.auteur}}</span><span class="com_heure"> {{ tache.commentaires.last.heure|format_datetime('EEEE dd MMM HH:mm') }} : </span>{{ tache.commentaires.last.texte | raw }}</span>
{% endif %}
{% endmacro %}