{% extends "PHPMBundle:GroupeTache:layout.html.twig"  %}
{% set pageTitle = 'Edition du Groupe de Tâches' %}
{% use "PHPMBundle::edit.html.twig" %}




{% block style %}
{{ parent() }}
			{% stylesheets 'bundles/phpm/css/tache.css' filter='cssrewrite'  %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
			{% endstylesheets %}
{% endblock %}


{% block content %}

<form action="{{ path('groupetache_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>

{{ form_errors(form) }}
<div>
<h2>Informations Générales</h2>



</div>


{{ form_rest(form) }}
    <p>
        <button type="submit"  name="action" value="save">Enregistrer</button>
        {% if entity.statut ==0 and entity.isDeletable  %}
        <button class="nobutton" type="submit" name="action" value="delete">SUPPRIMER le groupe</button>
        {% endif %}
        {% if entity.statut ==-1  %}
        <button class="yesbutton" type="submit" name="action" value="restore">RESTAURER le groupe</button>
        {% endif %}
        
    </p>
</form>
<h2>Liste des Tâches du groupe</h2>

{% if taches %}

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Responsable</th>
            
        </tr>
    </thead>
    <tbody>
    {% for entity in taches %}
        <tr>
            <td>{{ entitiesMacro.tache(entity) }}</td>
            <td>{{ entity.responsable }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
<a class="yesbutton" href="{{ path('tache_create', { 'gid': entity.id }) }}">Créer une nouvelle tâche</a>
{% endif %}

{% endblock %}


