{% extends "AssoMakerPHPMBundle:GroupeTache:layout.html.twig"  %}
{% set pageTitle = 'Edition du Groupe de Tâches' %}
{% use "AssoMakerPHPMBundle::edit.html.twig" %}

{% block content %}
<script type="text/javascript">

    function Ctrl($scope) {

        $scope.lieu = "{{entity.lieu}}";
        $scope.animations = {% if anim_actif and (animations | length > 0) %}{{animations|json_encode | raw}}{%else%}[]{%endif%};
        {%if entity.animLiee%}
        $scope.animLiee={{entity.animLiee.id}};
        {%endif%}
    }
    </script>
    <form class="form-horizontal" action="{{ path('groupetache_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} >
        <fieldset>
            <div class="row-fluid" ng-app ng-controller="Ctrl">
                <div class="span6">
                    <legend>Informations Générales</legend>
			{{ form_row(form.nom) }}
                        {{ form_row(form.equipe) }}
                        {{ form_row(form.responsable) }}
                        {{ form_row(form.animLiee,{'attr':{'ng-change':"lieu = animations[animLiee]['lieu']",'ng-model':'animLiee'}}) }}
                        {{ form_row(form.lieu,{'attr':{'ng-model':'lieu'}})}}

                </div>
                <div class="span6">
                    <legend>Liste des Tâches du groupe {% raw %}{{}}{%endraw%}</legend>
		    {% if taches is defined and taches|length > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Responsable</th>
                            </tr>
                        </thead>
                        <tbody>
				    {% for entity in taches %}
                                <tr>
                                    <td>{{ entitiesMacro.tache(entity) }}</td>
                                    <td>{{ entity.responsable }}</td>
                                </tr>
				    {% endfor %}
                            </tbody>
                        </table>
			{% else %}
                        <div class="span6 well">Ce groupe ne contient aucune tâche !</div>
			{% endif %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit"  name="action" value="save">Enregistrer</button>
                        <button class="btn btn-success" type="submit" name="action" value="add_tache"><i class="icon-file"></i> Ajouter une nouvelle tâche</button>
			{% if entity.statut == 0 and entity.isDeletable %}
                        <button class="btn btn-danger" type="submit" name="action" value="delete"><i class="icon-trash"></i> Supprimer le groupe</button>
			{% endif %}
			{% if entity.statut == -1 %}
                        <button class="btn btn-inverse" type="submit" name="action" value="restore"><i class="icon-repeat"></i> Restaurer le groupe</button>
			{% endif %}
                    </div>
                </div>
            </fieldset>
         {{ form_widget(form._token) }}
        </form>
{% endblock %}

