{% extends "::base.html.twig"  %}


{% block title %}
Timeslot
{% endblock %}



{% block content %}






<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Begintime</th>                <td>{{ entity.begintime|format_datetime('dd MMM Y HH:mm') }}</td>        </tr>
        <tr>
            <th>Endtime</th>                <td>{{ entity.endtime|format_datetime('dd MMM Y HH:mm') }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('timeslot') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('timeslot_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('timeslot_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
