{% extends "PHPMBundle:DisponibiliteInscription:layout.html.twig"  %}
{% set pageTitle = 'Liste des DI' %}
{% use "PHPMBundle::index.html.twig" %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Orgas Inscrits</th>
            <th>Dont Orgas Inscrits avec permis (2ans+)</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        
        
        <tr style="cursor:pointer" onclick="window.location='{{ path('disponibiliteinscription_show', { 'id': entity.id }) }}'">
            <td><a href="{{ path('disponibiliteinscription_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.debut %}{{ entity.debut|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.nbOrga}} </td>
            <td>{{ entity.nbOrgaAvecPermisLongueDuree}} </td>
            <td>
				{{ bouton.edit( path('disponibiliteinscription_edit', { 'id': entity.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
