{% extends "PHPMBundle:DisponibiliteInscription:layout.html.twig"  %}
{% set pageTitle = 'Liste des DI' %}
{% use "PHPMBundle::index.html.twig" %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Orgas Inscrits</th>
            <th>Dont Orgas Inscrits avec permis (2ans+)</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
       
        
        <tr style="cursor:pointer" onclick="window.location='{{ path('disponibiliteinscription_show', { 'id': entity.0.id }) }}'">
            <td><a href="{{ path('disponibiliteinscription_show', { 'id': entity.0.id }) }}">{{ entity.0.id }}</a></td>
            <td>{{ entity.0.debut|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.0.fin|date('Y-m-d H:i:s') }}</td>
            <td>{% set previous = -1 %} 
                 {% for e in entity %}
                     {{ 0.nborga }} <br/>
                 {% endfor %}
                
                
                </td>
            <td>{{ entity.nborga}} </td>
            <td>
				{{ bouton.edit( path('disponibiliteinscription_edit', { 'id': entity.0.id }) ) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
