{% import "PHPMBundle::bouton.html.twig" as bouton %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
      	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ pageTitle }} - PHPlanningMaker</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        {# c'est pas très beau - on met un code 'générique' dans un block - mais à priori la seule méthode #}
        {% block style %}
			{% stylesheets
				'bundles/phpm/css/style.css'
				'bundles/phpm/css/forms.css'
				filter='cssrewrite' 
			%}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
			{% endstylesheets %}
			
			{# on inclue manuellement cette feuille de style qu'Assetic ne nous casse pas les liens des images #}
			<link rel="stylesheet" href="{{ asset('bundles/phpm/css/jquery-ui/themes/smoothness/jquery-ui-1.8.16.custom.css') }}" type="text/css" />
		{% endblock %}
		
		{# même chose pour Javascript, bien le mettre APRES à cause de LESS #}
        {% block javascript %}
			{% javascripts
				'@PHPMBundle/Resources/public/js/lib/jquery.min.js'
				'@PHPMBundle/Resources/public/js/lib/jquery-ui.min.js'
				'@PHPMBundle/Resources/public/js/lib/less.min.js'
				'@PHPMBundle/Resources/public/js/general.js'
			%}
				<script src="{{ asset_url }}" type="text/javascript"></script>
			{% endjavascripts %}
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="header" id="header" >
        	{% block header %}
        	<div class="title" id="title">
        		{% block topHeader %}
        		{% if is_granted('ROLE_ADMIN') %}
        		<h1>{% render "PHPMBundle:Config:display" with {'field': 'manifestation.nom'} %} - <a href="{{ path('accueil') }}"> PlanningMaker</a> &gt; <a href="{{ path(indexRoute) }}"> {{ sectionTitle }}</a> &gt;  {{ pageTitle }}</h1>
        		{% else %}
        		    <h1>{% render "PHPMBundle:Config:display" with {'field': 'manifestation.nom'} %} - {{ pageTitle }}</h1>
        		{% endif %}
        		{% endblock %}
        		{% if is_granted('ROLE_ADMIN') %}
        		<form method="post" action="{{ path('search') }}">
        			<input id="searchBox" name="s" />
        		</form>   
        		{% endif %}     		
        	</div>
        	
        	<div class="menu" id="menu">
        		{% block menuheader %}
        		<ul>
        		    {% if is_granted('ROLE_ADMIN') %}
        			<li><a href="{{ path('phpm__default_home') }}">Accueil</a></li>
        			<li><a href="{{ path('orga') }}">Orga</a></li>
        			<li><a href="{{ path('orga_affectation') }}">Affectation</a></li>
        			<li><a href="{{ path('categorie') }}">Categorie</a></li>
        			<li><a href="{{ path('confiance') }}">Confiance</a></li>
        			<li><a href="{{ path('disponibilite') }}">Disponibilité</a></li>
        			<li><a href="{{ path('plagehoraire') }}">Plage Horaire</a></li>
         			<li><a href="{{ path('tache') }}">T&acirc;che</a></li>
         			<li><a href="{{ path('creneau') }}">Cr&eacute;neaux</a></li>
         			<li><a href="{{ path('config') }}">Configuration</a></li>
        			<!--<li><a href="/">T&acirc;ches</a></li>
        			<li><a href="/">Administration</a></li>-->
        			<li><a href="{{ path('logout') }}">Logout</a></li>
        			{% elseif is_granted('ROLE_USER') %}
        			<li><a href="{{ path('orga_show',{'id':app.user.id })}}">Mes Informations</a></li>
        			<li><a href="{{ path('orga_inscriptionhard')}}">Mes Disponibilités</a></li>
        			<li><a href="{{ path('logout') }}">Logout</a></li>
        		    {% else %}
        		    <li><a href="{{ path('login') }}">Login</a></li>
        		    {% endif %}
        		</ul>
        		{% endblock %}
        	</div>
        	
       	</div>
       	
		<div class="menu_action" id="menu_action">
		    <ul>

        	{% block actions %}
        	{% endblock %}
			</ul>
			{% endblock %}
        </div> 
        
        <div class="content" id="content">
        	<div class="message" id="message"><!-- ici arriveront les messages, classes alert ou success --></div>
        	
        	{% block content %}
        		<p>Il y aura ici le contenu</p>
        	{% endblock %}
        </div> 
        
        <div class="footer" id="footer">
        	&copy;2011 nous - PHPM
        </div>
    </body>
</html>

