{% extends "::base.html.twig"  %}


{% block title %}
Task
{% endblock %}



{% block content %}






<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        </tr>
        <tr>
            <th>Description</th>                <td>{{ entity.description }}</td>        </tr>
        <tr>
            <th>Begintime</th>                <td>{{ entity.begintime|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Endtime</th>                <td>{{ entity.endtime|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Duration</th>                <td>{{ entity.duration }}</td>        </tr>
        <tr>
            <th>Overlap</th>                <td>{{ entity.overlap }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('task_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
