{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDxtSjmKe1AsGme00GmrIsRCd2e1IxMw&sensor=false"></script>
<script>
    var map;
    function initialize() {
        var latlng = new google.maps.LatLng($("#assomaker_animbundle_animationtype_entity_locX")[0].value, $("#assomaker_animbundle_animationtype_entity_locY")[0].value);
        var mapOptions = {
            zoom: 19,
            mapTypeControl: false,
            zoomControl: true,
            streetViewControl: false,
            panControl: false,
            center: latlng,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);
        map.setTilt(0);
        google.maps.event.addListener(map, 'center_changed', function() {
            $("#assomaker_animbundle_animationtype_entity_locX")[0].value = map.getCenter().lat();
            $("#assomaker_animbundle_animationtype_entity_locY")[0].value = map.getCenter().lng();
        });
        var marker = new google.maps.Marker({
            map: map, icon: new google.maps.MarkerImage('{{ asset('bundles/assomakeranim/images/cross.png') }}', undefined, undefined, new google.maps.Point(20, 20))
        });
        marker.bindTo('position', map, 'center');

        var reset = function() {
            map.setCenter(new google.maps.LatLng(45.783562, 4.876239));
        }


    }


    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript">

        function Ctrl($scope) {


            $scope.addHoraire = function() {
                $scope.horaires.push({"jour": "Samedi", "debut": "10h00", "fin": "18h00"});
            }

            $scope.remHoraire = function(index) {
                $scope.horaires.splice(index, 1);
            }

            $scope.addMatos = function(categorie, nom) {


                var added = false;
                for (var i = 0; i < $scope.materiel.length; i++)
                {
                    if ($scope.materiel[i].nom == categorie) {
                        $scope.materiel[i].items.push({'nom': nom, 'qte': 1});
                        added = true;
                    }
                }

                if (added == false) {
                    $scope.materiel.push({'nom': categorie, "items": [{'nom': nom, 'qte': 1}]});
                }

                $scope.customMatos = null;

            }

            $scope.cleanMatos = function() {
                for (var i = 0; i < $scope.materiel.length; i++)
                {
                    console.log($scope.materiel[i].items.length);
                    for (var j = 0; j < (($scope.materiel[i]).items.length); j++)
                    {
                        if ($scope.materiel[i].items[j].qte == 0) {
                            $scope.materiel[i].items.splice(j, 1);
                        }
                    }

                    if ($scope.materiel[i].items.length == 0) {
                        $scope.materiel.splice(i, 1);
                    }
                }
            }


            {% if entity.horaires is not null  %}
                    $scope.horaires = {{ entity.horaires | json_encode()| raw}};{% else %}
                            $scope.horaires = [];
            {% endif %}

            {% if entity.materiel is not null %}
                    $scope.materiel = {{ entity.materiel | json_encode(32) | raw}};{% else %}
                            $scope.materiel = [];
            {% endif %}

                    $scope.materielStandard = [
                        {
                            "nom": "Barri\u00e8res",
                            "items": ["Vauban", "Héras", "Rubalise en mètres"]
                        },
                        {
                            "nom": "Mobilier",
                            "items": ["Table 1 place", "Table 2 places", "Grande table", "Chaise", "Canapé", "Matelas (dodo)", "Fauteuil", "Grille d'exposition"]
                        },
                        {
                            "nom": "Électronique",
                            "items": ["Vidéoprojecteur", "Enceintes", "Ordinateur", "Grand Frigo", "Petit Frigo"]
                        },
                        {
                            "nom": "Tentes",
                            "items": ["Parasol", "3x3", "4x8", "6x12"]
                        },
                        {
                            "nom": "Sacs Poubelle",
                            "items": ["50 Litres", "200 Litres"]
                        }

                    ];



            {% if entity.public %}
                    $scope.pub = true;
            {% endif %}

            {% if entity.mobile %}
                    $scope.mob = true;
            {% endif %}

            {% if entity.extPresent %}
                    $scope.extPresent = true;
            {% endif %}

            {% if entity.besoinSecu %}
                    $scope.besoinSecu = true;
            {% endif %}

            {% if entity.besoinPass %}
                    $scope.besoinPass = true;
            {% endif %}

            {% if entity.besoinSigna %}
                    $scope.besoinSigna = true;
            {% endif %}

            {% if entity.elec %}
                    $scope.besoinElec = true;
            {% endif %}
                }
        </script>

        <form class="form-inline" action="{{ path('anim_animation_edit',{"id":entity.id}) }}" method="post" {{ form_enctype(form) }} >
            <div class="row-fluid" ng-app ng-controller="Ctrl">

                <div class="span7">
                    <fieldset>
                        <legend class="statut{{entity.statut }}">
                    {% if entity.statut ==0 %}<i class="fa fa-pencil"></i> {% endif %}
                    {% if entity.statut ==1 %}<i class="fa fa-eye"></i> {% endif %}
                    {% if entity.statut >=2 %}<i class="fa fa-check"></i> {% endif %}
                    {% if entity.validHumain %}<i class="fa fa-user"></i> {% endif %}
                    {% if entity.validSecu %}<i class="fa fa-bullhorn"></i> {% endif %}
                    {% if entity.validLog %}<i class="fa fa-wrench"></i>{% endif %}



                                Animation {{ entity.nom }} - Infos Générales <a class="btn btn-small" href="{{ path("anim_animation_index") }}"><i class="fa fa-share"></i> Retour</a></legend>
                                {% if not form.vars.valid %}
                                <div class="alert alert-error">
                                    <b>Attention !</b> Une ou plusieurs erreurs sont survenues lors de l'enregistrement. Merci de corriger les erreurs indiquées en rouge.
                                </div>
                                {% endif %}
                            <div class="row-fluid">
                                <div class="span8">{{ form_row(form.entity.nom,{'attr':{'class':'input-block-level'}}) }}</div>
                                <div class="span4">{{ form_row(form.entity.type,{'attr':{'class':'input-block-level'}}) }}</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">{{ form_row(form.entity.equipe,{'attr':{'class':'input-block-level'}}) }}</div>
                                <div class="span4">{{ form_row(form.entity.responsable,{'attr':{'class':'input-block-level'}}) }}</div>
                                <div class="span4">{{ form_row(form.entity.orgaManif,{'attr':{'class':'input-block-level'}}) }}</div>
                            </div>


                        </fieldset>
                        <fieldset>


                            <legend>Infos Publiques</legend>

                            <div class="row-fluid">
                                <div class="span9">
                                    <div class="row-fluid">
                                        <div class="span5">{{ form_row(form.entity.public,{'attr':{'ng-model':'pub'}} ) }}</div>
                                        <div class="span3" ng-show="pub">{{ form_row(form.entity.animPhare) }}</div>
                                        <div class="span4" ng-show="pub">{{ form_row(form.entity.animGosses) }}</div>
                                    </div>
                                    <div class="row-fluid" ng-show="pub">
                                        {% if not readOnly['h'] %}
                                            <div class="span12">{{ form_row(form.entity.description, {'attr':{'class':'winput'}}) }}</div>
                                           {%else%}
                                            <div class="span12">{{ form_row(form.entity.description, {'attr':{'class':'winput-ro'}}) }}</div>
                                        {%endif%}
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="row-fluid" ng-show="pub">
                                        </div>
                                        <div class="row-fluid" ng-show="pub">
                                            {% if entity.pubPictureSet == 1 %}
                                                <img class="img-polaroid span12" src="{{ asset( 'up/animPictures/'~entity.id~'.'~entity.pictureExtension ) }}"/>
                                            {% else %}
                                                Pas de Photo
                                            {% endif %}
                        {{ form_row(form.entity.pubPicture) }}
                                            </div>
                                        </div>
                                    </div>


                                </fieldset>
                        <fieldset>


                            <legend>Appli mobile</legend>

                            <div class="row-fluid">
                                <div class="span9">
                                    <div class="row-fluid">
                                        <div class="span5">{{ form_row(form.entity.mobile,{'attr':{'ng-model':'mob'}} ) }}</div>
                                    </div>
                                    <div class="row-fluid" ng-show="mob">
                                        <div class="span12">{{ form_row(form.entity.categorieMobile,{'attr':{'class':'input-block-level'}}) }}</div>
                                    </div>
                                    <div class="row-fluid" ng-show="mob">
                                        {{ form_row(form.entity.descriptionMobile) }}
                                        <b>Photos pour l'appli :</b>
                                        <ul>
                                            {% for photo in entity.photosMobile %}
                                                <li>
                                                    <img src='/up/animPicturesMobile/{{ photo.nom|url_encode }}' style='max-width: 150px; max-height: 150px'> 
                                                    <a href="{{ path('anim_animation_delete_photo_mobile', {'id': photo.id, 'token': csrf_token('anim_animation_delete_photo_mobile')}) }}"><i class="fa fa-remove"></i></a>
                                                </li>
                                            {% else %}
                                                <li><i>Aucune photo actuellement !</i>
                                            {% endfor %}
                                        </ul>
                                        {{ form_row(form.photoMob) }}
                                    </div>
                                </div>
                                <div class="span3">
                                        
                                </div>
                            </div>

                                </fieldset>
                                <fieldset>
                                    <legend>Sécurité</legend>
                                    <div class="row-fluid">
                                        <div class="span6">{{ form_row(form.entity.besoinSecu,{'attr':{'ng-model':'besoinSecu'}} ) }}
                                            <div class="row-fluid" ng-show="besoinSecu">        {{ form_row(form.entity.detailSecu) }}
                                            </div>

                                        </div>
                                        <div class="span6">{{ form_row(form.entity.besoinPass,{'attr':{'ng-model':'besoinPass'}} ) }}

                                            <div class="row-fluid" ng-show="besoinPass">
                                             {% if entity.passAssocies | length >0 %}
                                                    <h5> Liste des Pass Voiture :</h5>
                                                    <ul>
                                             {% for k,p in entity.passAssocies %}
                                                            <li><a class="statut{{ p.statut }}" href="{{ path('pass_pass_edit',{"id":p.id,"code":p.accessCode}) }}">Pass {{p.id}} : {{ p.entite }}</a></li>
                                             {% endfor %}
                                                            </ul>
                                             {% else %}
                                                            <div class="alert alert-info"><h5>Un pass voiture sera généré à l'enregistrement de la fiche.</h5></div>
                                                            </p>
                                             {% endif %}
                                                        </div>

                                                    </div>
                                                </div>


                                            </fieldset>
                                            <fieldset>
                                                <legend {% if(entity.validLog) %}class="statut2"{% else %}class="statut0"{% endif %}>Logistique</legend>
                                                <div class="row-fluid">
                                                    <div class="span4">
        {{ form_row(form.entity.elec,{'attr':{'ng-model':'besoinElec'}}) }}

                                                        </div>
                                                        <div class="span4" ng-show="besoinElec">
        {{ form_row(form.entity.elecAmperes,{'attr':{'class':'input-small'}}) }}
                                                            </div>
                                                            <div class="span4" ng-show="besoinElec">
        {{ form_row(form.entity.elecTri) }}
                                                                </div>

                                                            </div>




                                                            <div class="row-fluid">
                                                                <div class="span6">
                                                                    <div class="row_fluid">
        {% if entity.statut > 0 and not entity.validLog  %}
                                                                            <div class="alert alert-error">
                                                                                <h5>Attention !</h5> Cette fiche n'a pas été validée par un responsable logistique.
                                                                            </div>
        {% endif %}
                                                                        </div>
                                                                        <div class="row_fluid">
                                                                            <h4>Matériel et quantité requise</h4>
                            {{ form_row(form.entity.lieuDepotLog) }}
                                                                            <ul>
                                                                                <li ng-repeat="(kc,c) in materiel">
                {% raw %}{{ c.nom }}{% endraw %}
                                                                                        <ul>
                          {% if not readOnly['l'] %}
                                                                                                <input type="hidden" ng-model="c.nom" class="input" name="assomaker_animbundle_animationtype[entity][materiel][{%raw%}{{kc}}{% endraw %}][nom]" value="{%raw%}{{c.nom}}{% endraw %}">
                          {% endif %}
                                                                                                <li ng-repeat="(km,m) in c.items">
                           {% if readOnly['l'] %}
                           {%raw%}{{ m.nom }} x {{ m.qte }}{% endraw %}
                           {% else %}
                                                                                                        <input type="text" ng-model="m.nom" class="input" name="assomaker_animbundle_animationtype[entity][materiel][{%raw%}{{kc}}{% endraw %}][items][{%raw%}{{km}}{% endraw %}][nom]">
                                                                                                        <input type="number" class="input-mini" ng-model="m.qte" ng-click="cleanMatos()" name="assomaker_animbundle_animationtype[entity][materiel][{%raw%}{{kc}}{% endraw %}][items][{%raw%}{{km}}{% endraw %}][qte]">
                          {% endif %}
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>

                                                                                                    {% if not readOnly['l']  %}
                                                                                <div class="span6 well">
                                                                                    <h5>Ajouter du matériel</h5>
                                                                                    <ul class="nav nav-list">
                                                                                        <li class="dropdown" ng-repeat="(kc,c) in materielStandard">
                                                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% raw %}{{ c.nom }}{% endraw %}<b class="caret"></b></a>
                                                                                            <ul class="dropdown-menu">
                                                                                                <li ng-repeat="(km,m) in c.items"><a ng-click="addMatos(c.nom,m)">{% raw %}{{ m }}{% endraw %}</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </li>
                                                                                        <li>
                                                                                            Autre : <input type="text" ng-model="customMatos" class="input"> <span class="" ng-click="addMatos('Autre',customMatos)"><i class="fa fa-plus"></i></span>

                                                                                        </li>
                                                                                        <li></li>
                                                                                    </ul>
                                                                                </div>
                                                                                                  {% endif %}

                                                                            </div>



                                                                        </fieldset>
                                                                        <fieldset>
                                                                            <legend>Signalétique</legend>
                                                                            <div class="row-fluid">
                                                                    {{ form_row(form.entity.besoinSigna,{'attr':{'ng-model':'besoinSigna'}} ) }}
                                                                                </div>
                                                                                <div class="row-fluid" ng-show="besoinSigna">
                                                                    {{ form_row(form.entity.detailSigna) }}
                                                                                    </div>
                                                                                </fieldset>






                                                                            </div>
                                                                            <div class="span5">
                                                                                <div class="row-fluid">
                                                                                    <fieldset>
                                                                                        <legend>Emplacement</legend>
                                                                                        <div class="row-fluid">
                                        {{ form_row(form.entity.lieu,{'attr':{'data-provide':'typeahead','data-source':listeLieux,'autocomplete':'off'}}) }}
                                                                                                <datalist id="lieux">
                                            {% for anim in listeLieux %}
                                                                                                        <option value="{{ anim.lieu }}">
                                            {% endfor %}
                                                                                                        </datalist>
                                                                                                    </div>
                                                                                                    <div class="row-fluid">
                                                                                                        <div class="span12">
                                                                                                            <div id="map_canvas" class="span12" style="height:200px">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </fieldset>
                                                                                            </div>


                                                                                            <div class="row-fluid">
                                                                                                <fieldset>
                                                                                                    <legend>Intervenant Extérieur</legend>
                                                                                                    <div class="row-fluid">
                                                                                                        <div class="span8">{{ form_row(form.entity.extNom,{'attr':{'class':'input-block-level'}}) }}</div>
                                                                                                        <div class="span4">{{ form_row(form.entity.extType,{'attr':{'class':'input-medium'}}) }}</div>
                                                                                                    </div>
                                                                                                    <div class="row-fluid">
                                                                                                        <div class="span6">{{ form_row(form.entity.extTelephone,{'attr':{'class':'input-medium'}}) }}</div>
                                                                                                        <div class="span6">{{ form_row(form.entity.extEmail) }}</div>
                                                                                                    </div>

                                                                                                    <div class="row-fluid">
                                                                                                        <div class="span12">{{ form_row(form.entity.extCommentaire) }}</div>
                                                                                                    </div>
                                                                                                    <div class="row-fluid">
                                                                                                        <div class="span3">{{ form_row(form.entity.extPresent,{'attr':{'ng-model':'extPresent'}}) }}</div>
                                                                                                        <div class="span3" ng-show="extPresent">{{ form_row(form.entity.extBoisson) }}</div>
                                                                                                        <div class="span3" ng-show="extPresent">{{ form_row(form.entity.extBouffe) }}</div>
                                                                                                        <div class="span3" ng-show="extPresent">{{ form_row(form.entity.extCatering) }}</div>
                                                                                                    </div>
                                                                                                </fieldset>
                                                                                            </div>
                                                                                            <div class="row-fluid">
                                                                                                <fieldset>
                                                                                                    <legend>Horaires
                                {% if not readOnly['h'] %}
                                                                                                            <a class="btn btn-success btn-small" ng-click="addHoraire()"><i class="fa fa-plus"></i></a>
                                {% endif %}
                                                                                                            </legend>
                                                                                                            <div class="row-fluid">
                                                                                                                <ul>
                                                                                                                    <li ng-repeat="h in horaires">
                                            {% if readOnly['h'] %}
                                            {% raw %}{{h.jour}} : {{h.debut}} <i class="fa fa-arrow-right"></i> {{h.fin}}{% endraw %}
                                            {% else %}
                                                                                                                            <select class="input-medium" name="assomaker_animbundle_animationtype[entity][horaires][{%raw%}{{$index}}{% endraw %}][jour]" ng-model="h.jour">
                                                                                                                                <option>Mercredi</option>
                                                                                                                                <option>Jeudi</option>
                                                                                                                                <option>Vendredi</option>
                                                                                                                                <option>Samedi</option>
                                                                                                                                <option>Dimanche</option>
                                                                                                                                <option>Lundi</option>
                                                                                                                            </select>
                                                                                                                            <select class="input-small" name="assomaker_animbundle_animationtype[entity][horaires][{%raw%}{{$index}}{% endraw %}][debut]" ng-model="h.debut">
                                            {% for i in 7..23 %}
                                                {% for j in ['00','15', '30', '45'] %}
                                                                                                                                    <option>{{ i~'h'~j }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for i in 0..6 %}
                                                {% for j in ['00','15', '30', '45'] %}
                                                                                                                                    <option>{{ i~'h'~j }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                                                                                                                </select>
                                                                                                                                <i class="fa fa-arrow-right"></i>
                                                                                                                                <select class="input-small" name="assomaker_animbundle_animationtype[entity][horaires][{%raw%}{{$index}}{% endraw %}][fin]" ng-model="h.fin">
                                            {% for i in 18..23 %}
                                                {% for j in ['00','15', '30', '45'] %}
                                                                                                                                        <option>{{ i~'h'~j }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for i in 0..17 %}
                                                {% for j in ['00','15', '30', '45'] %}
                                                                                                                                        <option>{{ i~'h'~j }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                                                                                                                    </select>

                                                                                                                                    <a class="btn btn-small btn-danger" ng-click="remHoraire($index)"><i class="fa fa-remove"></i></a>
                                          {% endif %}
                                                                                                                                    </li>


                                                                                                                                </ul>
                                                                                                                            </div>




                                                                                                                        </fieldset>
                                                                                                                    </div>

                                                                                                                </div>

                                                                                        {{ form_widget(form.entity.locX) }}
                                                                                        {{ form_widget(form.entity.locY) }}
                                                                                        {{ form_widget(form._token) }}
                                                                                                            </div>
                                                                                                            <div class=row-fluid>
                                                                                                                <fieldset>
                                                                                                                    <legend>Commentaires</legend>
                                                                                                                    <div class="row-fluid">
                                                                                                                        <ul>
                            {% for c in entity.commentaires%}
                                                                                                                                <div class="com">
                                                                                                                                    <div class="com_infos">{{loop.index}}/{{loop.length}}
                                                                                                                                        <span class="com_auteur">{{ c.auteur }}</span>
                                                                                                                                        <span class="com_heure"> {{ c.date|format_datetime('EEEE dd MMM HH:mm') }}</span>
                                                                                                                                    </div>
                                                                                                                                    <span class="com_texte">{{  entitiesMacro.iconCom(c) }} {{c.texte}} {{  entitiesMacro.supTextCom(c) }}</span>
                                                                                                                                </div>
                            {% endfor %}
                                                                                                                            </ul>
                                                                                                                        </div>
                                                                                                                        <div class="row-fluid">
                                {{ form_row(form.commentaire) }}
                                                                                                                            </div>
                                                                                                                        </fieldset>
                                                                                                                    </div>

                                                                                                                    <div class="form-fluid">
                                                                                                                        <div class="form-actions">
                                                                                                                            <button class="btn btn-primary" type="submit" name="action" value="save">Enregistrer les modifications</button>
                                    {% if entity.statut == 0 %}
                                                                                                                            <button class="btn btn-success" type="submit" name="action" value="submit_validation"><i class="fa fa-eye"></i> Demander la validation</button>
                                    {% endif %}

                                    {% if is_granted('ROLE_HUMAIN') %}
                                                {% if not (entity.validLog and entity.validSecu and entity.validSecu)%}
                                                                                                                            <button class="btn btn-warning" type="submit" name="action" value="validate"><i class="fa fa-check"></i>
                                                                                                                                Forcer la validation
                                                                                                                            </button>
                                                {% endif %}
                                    {% endif %}


                                    {% if is_granted('ROLE_LOG') and (entity.statut >= 1) %}
                                        {% if (not entity.validLog)  %}
                                                                                                                            <button class="btn btn-success" type="submit" name="action" value="validateLog"><i class="fa fa-wrench"></i> Valider la partie logistique</button>
                                        {% endif %}
                                                                                                                            <button class="btn btn-danger" type="submit" name="action" value="rejectLog"><i class="fa fa-wrench"></i> Rejeter la partie logistique</button>

                                    {% endif %}

                                    {% if is_granted('ROLE_SECU') and (entity.statut >= 1) %}
                                        {% if (not entity.validSecu)  %}
                                                                                                                            <button class="btn btn-success" type="submit" name="action" value="validateSecu"><i class="fa fa-wrench"></i> Valider la partie sécurité</button>
                                        {% endif %}
                                                                                                                            <button class="btn btn-danger" type="submit" name="action" value="rejectSecu"><i class="fa fa-wrench"></i> Rejeter la partie sécurité</button>

                                    {% endif %}

                                    {% if is_granted('ROLE_HUMAIN') and (entity.statut >= 1) %}
                                        {% if (not entity.validHumain)  %}
                                                                                                                            <button class="btn btn-success" type="submit" name="action" value="validateHumain"><i class="fa fa-wrench"></i> Valider la partie humain</button>
                                        {% endif %}
                                                                                                                            <button class="btn btn-danger" type="submit" name="action" value="rejectHumain"><i class="fa fa-wrench"></i> Rejeter la partie humain</button>
                                    {% endif %}

                                    {% if not is_granted('ROLE_ADMIN') and (entity.statut == 1) %}
                                        {% if (not entity.validHumain)  %}
                                                                                                                            <button class="btn btn-warning" type="submit" name="action" value="devalidate"><i class="fa fa-undo"></i> Annuler la demande de validation</button>
                                        {% endif %}                                        
                                    {% endif %}


                                    {% if entity.statut != -1  %}
                                                                                                                            <button class="btn btn-inverse" type="submit" name="action" value="delete"><i class="fa fa-remove"></i> Supprimer la tâche</button>
                                    {% endif %}
                                    {% if entity.statut == -1 %}
                                                                                                                            <button class="btn btn-inverse" type="submit" name="action" value="restore"><i class="fa fa-share"></i>Restaurer la fiche</button>
                                        {% endif %}
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </form>
{% endblock %}