{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Liste des animations' %}

{% block content %}
<script type="text/javascript">


function Ctrl($scope){

	$scope.search={'equipeId':''};
	$scope.animations={{ animations |raw }}
	$scope.types = {{ types|raw }};
	$scope.statut=0;

	$scope.deleted = function(elem){
		return ((elem.statut ==-1)&&($scope.statut==-1)||(elem.statut >=0)&&($scope.statut==0));
		}

	{% if is_granted('ROLE_LOG') %}
	$scope.showLog=true;
	{% endif %}

	{% if is_granted('ROLE_SECU') %}
	$scope.showSecu=true;
	{% endif %}
	
}
</script>

<div class="row-fluid"  ng-app ng-controller="Ctrl">

    <div class="span2">
        <ul class="nav nav-list">
			<li class="nav-header">Actions</li>
			<li>
			    <a href="{{ path('anim_animation_new') }}"><i class="icon-plus"></i> Nouvelle Animation</a>
			</li>
			<li class="nav-header">Animations</li>
			<li ng-class="{active: search.equipeId==''}">
			    <a ng-click="search.equipeId=''">Toutes</a>
			</li>
			<li ng-class="{active: search.equipeId=={{ app.user.equipe.id }}}">
			    <a ng-click="search.equipeId={{ app.user.equipe.id }}">Celles de ma Com</a>
			</li>
			<li class="nav-header">Rechercher</li>
			<li>
			    <a><input type="text" class="input-medium search-query" ng-model="search.$"></a>
			</li>
			<li class="nav-header">Statut</li>
			<li ng-class="{active: statut==0}">
			    <a ng-click="statut=0" >Actives</a>
			</li>
			<li ng-class="{active: statut==-1}">
			    <a ng-click="statut=-1"><i class="icon-trash"></i> Supprimées</a>
			</li>
			<li class="nav-header">Affichage</li>
			<li ng-class="{active: showLog}">
			    <a ng-click="showLog=!showLog" ><i class="icon-wrench"></i>Logistique</a>
			</li>
			<li ng-class="{active: showSecu}">
			    <a ng-click="showSecu=!showSecu" ><i class="icon-bullhorn"></i>Sécurité</a>
			</li>


		</ul>
    </div>
    <div class="span10">

    
    {%raw%}

            <div class="row-fluid" ng:repeat="a in animations | filter:search | filter:deleted ">
                <div class="span12 well well-small">
                    <div class="row-fluid">
                        <div class="span5" ><h5><a href="{{ a.id }}/edit" class="statut{{ a.statut }}">{{a.nom}}</a></h5></div>
                        <div class="span3" >{{types[a.type]}} > {{a.equipe.nom}}</div>
                        <div class="span3" >{{a.responsable.prenom}} {{a.responsable.nom}}({{a.responsable.surnom}})</div>
                        <div class="span1 statut{{ a.statut }}">
                        
                        <i class="icon-pencil" ng-show="a.statut==0"> </i>
                        <i class="icon-eye-open" ng-show="a.statut==1"> </i>
                        <i class="icon-ok" ng-show="a.statut>=2"> </i>
                        <i class="icon-bullhorn" ng-show="a.validSecu"> </i>
                        <i class="icon-wrench" ng-show="a.validLog"> </i>
                        
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="showLog">
                        
                        <div class="span12" >
                            <p>
                                <b>Matériel :</b>
                                <span ng:repeat="c in a.materiel">
                                    <span  ng:repeat="m in c.items">
                                        {{ c.nom }} > {{ m.nom }} : {{ m.qte }},
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="showSecu && a.besoinSecu">
                        <div class="span5" ><b>Dispositif de sécurité :</b> {{a.detailSecu}}</div>
                    </div>
                </div>
            </div>

    </table>
   {% endraw %}

    
    </div>
     
</div>

{% endblock %}