{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Liste des animations' %}

{% block content %}
<script type="text/javascript">


    function Ctrl($scope) {


        
        $scope.search = {'statut': ''};
        $scope.animations ={{ animations |raw }}
                $scope.types = {{ types|raw }};
                $scope.deleted = function(elem) {
            return ((elem.statut == -1) && ($scope.search.statut == -1) || (elem.statut >= 0) && ($scope.search.statut >= 0));
        }

        $scope.myComFilter = function(elem) {
            return ((elem.equipe.id == {{app.user.equipe.id}}) && ($scope.myCom)) || !$scope.myCom;
        }
        

        $scope.lastCom = function(coms) {
            console.log(coms.length)
        }

        $scope.countStatut = function(statut) {
            var count = 0;
            angular.forEach($scope.animations, function(anim) {
                if (anim.statut == statut) {
                    count = count + 1;
                }

            });
            return count;
        }

        $scope.countLog = function() {
            var count = 0;
            angular.forEach($scope.animations, function(anim) {
                if (anim.statut >= 1 && anim.validLog != true) {
                    count = count + 1;
                }
            });
            return count;
        }

        $scope.countHumain = function() {
            var count = 0;
            angular.forEach($scope.animations, function(anim) {
                if (anim.statut >= 1 && anim.validHumain != true) {
                    count = count + 1;
                }
            });
            return count;
        }

        $scope.countSecu = function() {
            var count = 0;
            angular.forEach($scope.animations, function(anim) {
                if (anim.statut >= 1 && anim.validSecu != true) {
                    count = count + 1;
                }
            });
            return count;
        }
        
        $scope.showSigna = false;
        
        {% if is_granted('ROLE_ADMIN') %}
                $scope.myCom = false;{%else%}
                $scope.myCom = true;{% endif %}
                {% if is_granted('ROLE_LOG') %}
                $scope.showLog = true;
                $scope.isLog = true;{% endif %}
                {% if is_granted('ROLE_SECU') %}
                $scope.showSecu = true;
                $scope.isSecu = true;
                {% endif %}
                {% if is_granted('ROLE_HUMAIN') %}
                $scope.isHumain = true;
                {% endif %}
                    
            }
    </script>

    <div class="row-fluid" ng-app ng-controller="Ctrl">

        <div class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">Actions</li>
                <li>
                    <a href="{{ path('anim_animation_new') }}"><i class="fa fa-plus"></i> Nouvelle Animation</a>
                </li>
                <li>
                    <a href="{{ path('anim_animation_map') }}"><i class="fa fa-map-marker"></i> Afficher la carte</a>
                </li>
                <li class="nav-header">Animations</li>
                <li ng-class="{active: !myCom}">
                    <a ng-click="myCom=false">Toutes</a>
                </li>
                <li ng-class="{active: myCom}">
                    <a ng-click="myCom=true">Celles de ma Com</a>
                </li>
                <li class="nav-header">Rechercher</li>
			{%raw%}
                    <li>
                        <a><input type="text" class="input-medium search-query" ng-model="search.$"></a>
                    </li>
                    <li class="nav-header">Statut</li>
                    <li ng-class="{active: search.statut==''}">
                        <a ng-click="search.statut='';search.validLog=''" >Toutes</a>
                    </li>
                    <li ng-class="{active: search.statut=='0'}">
                        <a ng-click="search.statut='0'" ><i class="fa fa-pencil"></i> En rédaction</a>
                    </li>
                    <li ng-class="{active: search.statut=='1'}">
                        <a ng-click="search.statut='1'" >
                            <i class="fa fa-eye"></i> À valider
                        </a>
                    </li>
                    <li ng-class="{active: search.statut=='2'}">
                        <a ng-click="search.statut='2'" ><i class="fa fa-check"></i> Validées</a>
                    </li>
                    <li ng-class="{active: search.statut==-1}">
                        <a ng-click="search.statut=-1"><i class="fa fa-trash"></i> Supprimées</a>
                    </li>
                    <li class="nav-header">Non validées</li>
                    <li ng-class="{active: search.validLog==''&&search.validSecu==''&&search.validHumain==''}">
                        <a ng-click="search.validLog='';search.validSecu='';search.validHumain=''" >Toutes</a>
                    </li>
                    <li ng-class="{active: search.validLog=='false'}">
                        <a ng-click="search.validLog='false';search.validSecu='';search.validHumain=''" ><i class="fa fa-wrench"></i>Par la log <span class="badge">{{ countLog() }}</span></a>
                    </li>
                    <li ng-class="{active: search.validSecu=='false'}">
                        <a ng-click="search.validLog='';search.validSecu='false';search.validHumain=''" ><i class="fa fa-bullhorn"></i>Par la sécu <span class="badge">{{ countSecu() }}</span></a>
                    </li>
                    <li ng-class="{active: search.validHumain=='false'}">
                        <a ng-click="search.validLog='';search.validSecu='';search.validHumain='false'" ><i class="fa fa-user"></i>Par l'humain <span class="badge">{{ countHumain() }}</span></a>
                    </li>
                    <li class="nav-header">Affichage</li>
                    <li ng-class="{active: showLog}">
                        <a ng-click="showLog=!showLog" ><i class="fa fa-wrench"></i>Logistique</a>
                    </li>
                    <li ng-class="{active: showSecu}">
                        <a ng-click="showSecu=!showSecu" ><i class="fa fa-bullhorn"></i>Sécurité</a>
                    </li>
                    <li ng-class="{active: showSigna}">
                        <a ng-click="showSigna=!showSigna" ><i class="fa fa-picture-o"></i>Signalétique</a>
                    </li>


                </ul>
            </div>
            <div class="span10">




                <div class="row-fluid" ng:repeat="a in animations | filter:search | filter:deleted |filter:myComFilter ">
                    <div class="span12 well well-small">
                        <div class="row-fluid">
                            <div class="span5" ><a href="{{ a.id }}/edit" class="statut{{ a.statut }}">
                            {{a.nom}}
                                            <i class="fa fa-user" ng-show="a.validHumain"> </i>
                                            <i class="fa fa-bullhorn" ng-show="a.validSecu"> </i>
                                            <i class="fa fa-wrench" ng-show="a.validLog"> </i>

                                        </a> <small>({{types[a.type]}} > {{a.equipe.nom}})</small>
                                    </div>
                                    <div class="span7">Dernier commentaire : {{ a.commentaires[a.commentaires.length-1].auteur }}:{{ a.commentaires[a.commentaires.length-1].texte}}</div>

                                </div>
                                <div class="row-fluid">
                                </div>


                                <div class="row-fluid" ng-show="showLog">
                                    <div class="row-fluid">
                                        <div class="span12" >
                                            <p>
                                                <b>Matériel :</b>
                                                <span ng:repeat="c in a.materiel">
                                                    <span  ng:repeat="m in c.items">
                                            {{ c.nom }} > {{ m.nom }} : {{ m.qte }},
                                                        </span>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row-fluid" ng-show="a.elec==1">
                                            <div class="span12" >
                                                <p>
                                                    <b>Électricité : </b>{{ a.elecAmperes }} Ampères <span ng-show="a.elecTri">triphasé</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row-fluid" ng-show="showSecu">
                                        <div class="span5" ng-show="a.besoinSecu"><b>Dispositif de sécurité :</b> {{a.detailSecu}}</div>
                                    </div>
                                    <div class="row-fluid" ng-show="showSigna && a.besoinSigna">
                                        <div class="span12"><b>Signalétique :</b> {{a.detailSigna}}</div>
                                    </div>
                                </div>
                            </div>

   {% endraw %}


                        </div>

                    </div>

{% endblock %}