{% extends "PHPMBundle:Config:layout.html.twig"  %}
{% set pageTitle = 'Configuration de la Manifestation' %}

{% form_theme form _self %}

{% block style %}
{{ parent() }}
			{% stylesheets 'bundles/phpm/css/config.css' filter='cssrewrite'  %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
			{% endstylesheets %}
{% endblock %}

{% block content %}
<form action="{{ path('config_manif') }}" method="post" {{ form_enctype(form) }}>
<div id="tabs">
	<ul>
		<li><a href="#configItems">{{ form_label(form.configItems) }}</a></li>
		<li><a href="#lieuItems">{{ form_label(form.lieuItems) }}</a></li>
		<li><a href="#equipeItems">{{ form_label(form.equipeItems) }}</a></li>
		<li><a href="#confianceItems">{{ form_label(form.confianceItems) }}</a></li>
		<li><a href="#materielItems">{{ form_label(form.materielItems) }}</a></li>
			</ul>

<div id="configItems" >
{% for i in form.configItems %}
    {{ i.vars.value }}
    {{ form_errors(i) }}
    {{ form_widget(i) }}
         
{% endfor %}
</div>

<div id="lieuItems" class = "rowsection">
{% for i in form.lieuItems %}
    <div class=hrow>
{{ form_errors(i) }}
{{ form_widget(i) }}
    <a class="rmbutton" href="{{ path('lieu_delete', { 'id': i.vars.value.id }) }}">Supprimer</a>
    </div>
{% endfor %}
<br/>
<a class="addbutton" href="{{ path('lieu_new') }}">Nouveau Lieu</a>
</div>

<div id="equipeItems" class = "rowsection">
{% for i in form.equipeItems %}
    <div class=hrow>
    {{ form_errors(i) }}
    {{ form_widget(i) }}
    <a class="rmbutton" href="{{ path('equipe_delete', { 'id': i.vars.value.id }) }}">Supprimer</a>
         </div>
{% endfor %}
<br/>
<a class="addbutton" href="{{ path('equipe_new') }}">Nouvelle équipe</a>
</div>

<div id="confianceItems" class = "rowsection">
{% for i in form.confianceItems %}
    <div class=hrow>
    {{ form_errors(i) }}
    {{ form_widget(i) }}
    <a class="rmbutton" href="{{ path('confiance_delete', { 'id': i.vars.value.id }) }}">Supprimer</a>
         </div>
         
{% endfor %}
<br/>
<a class="addbutton" href="{{ path('confiance_new') }}">Nouveau niveau</a>
</div>

<div id="materielItems" class = "rowsection">
{% for i in form.materielItems %}
    <div class=hrow>
    {{ form_errors(i) }}
    {{ form_widget(i) }}
    <a class="rmbutton" href="{{ path('materiel_delete', { 'id': i.vars.value.id }) }}">Supprimer</a>
         </div>
{% endfor %}
<br/>
<a class="addbutton" href="{{ path('materiel_new') }}">Nouvel Item</a>
</div>
        
        
{{ form_rest(form) }}

        <button type="submit">Enregistrer la configuration</button>
    </p>
</form>

{% endblock %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block editAction %}
{% endblock %}
{% block deleteAction %}
{% endblock %}

{% endblock %}