{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Configuration' %}

{% form_theme form _self %}



{% block field_label %}
{% endblock field_label %}

{% block content %}
<form action="{{ path('config') }}" method="post" {{ form_enctype(form) }}>
    {% if valid is not null %}    
        <div class="row-fluid">  
            {% if valid==1 %}
                <div class ="alert alert-success">La configuration bien été enregistrée.</div>
            {% else %}
                <div class ="alert alert-error">Il y a des erreurs dans la configuration, elle n'a pas été mise à jour :
                <br/>
                {{ form_errors(form) }}
                {{ form_errors(form.equipeItems) }}
                </div>
            {% endif %}
        </div>
    {% endif %}
	<div class="row-fluid">
	
	<ul id="tab" class="nav nav-tabs">
	    <li><a href="#configItems" data-toggle="tab">Clés de configuration</a></li>
		<li><a href="#equipeItems" data-toggle="tab">Équipes</a></li>
		<li><a href="#registrationTokenItems" data-toggle="tab">Jetons</a></li>
		<li><a href="#confianceItems" data-toggle="tab">Niveaux de Confiance</a></li>
		<li><a href="#materielItems" data-toggle="tab">Matériel</a></li>
            
    </ul>
          <div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="configItems" >
						{% for i in form.configItems %}
						    {{ i.vars.value }}
						    {{ form_errors(i) }}
						    {% if  i.vars.value.hint %}
						    <span class="apopover btn btn-info"  rel="popover" data-content="{{ i.vars.value.hint }}" >?</span>
						    {% endif %}
						    {{ form_widget(i) }}
						         
						{% endfor %}
						
			</div>


		<div id="equipeItems"  class="tab-pane fade">
			<table class="table table-condensed">
		        <thead>
                        <th>Id</th>
		            <th>Nom</th>
		            <th>Responsable</th>
		            <th>Confiance</th>
		            <th>Couleur</th>
		            <th>Afficher sur le Trombi</th>
		            <th>Accès aux comptes persos</th>
		       
		        </thead>
		        <tbody>
		        
				{% for i in form.equipeItems %}
				
				    <tr>
                                        <td>{{i.vars.value.id}}</td>
				    <td>{{ form_row(i.nom, {'label':false}) }}</td>
				    <td>{{ form_row(i.responsable, {'label':false}) }}</td>
				    <td>{{ form_row(i.confiance, {'label':false}) }}</td>
				    <td>{{ form_row(i.couleur, {'label':false}) }}</td>
				    <td>{{ form_row(i.showOnTrombi, {'label':false}) }}</td>
				    <td>{{ form_row(i.comptesPersoEnabled, {'label':false}) }}</td>
				    <td>
                                        <a class="btn btn-danger" href="{{ path('equipe_delete', { 'id': i.vars.value.id }) }}"><i class="fa fa-remove"></i> Supprimer</a></td>
				    </tr>
				{% endfor %}
				
		        </tbody>
	    	</table>
			
			<div class="row-fluid">
			<a class="btn btn-success" href="{{ path('equipe_new') }}"><i class="fa fa-plus"></i> Nouvelle équipe</a>
			</div>
		</div>

              <div id="registrationTokenItems"  class="tab-pane fade">
                  <table class="table table-condensed">
                      <thead>
                      <th>Id</th>
                      <th>Clef</th>
                      <th>Nombre utilisation restantes</th>
                      <th>Equipe</th>

                      </thead>
                      <tbody>

                      {% for i in form.registrationTokenItems %}

                          <tr>
                              <td>{{i.vars.value.id}}</td>
                              <td><a href="{{ path('login_token', { 'token': i.vars.value.token }) }}">{{ path('login_token', { 'token': i.vars.value.token }) }}</a></td>
                              <td>{{ i.vars.value.count }}</td>
                              <td>{{ form_row(i.equipe, {'label':false}) }}</td>
                              <td>
                                  <a class="btn btn-danger" href="{{ path('token_delete', { 'id': i.vars.value.id }) }}"><i class="icon-remove"></i> Supprimer</a></td>
                          </tr>
                      {% endfor %}

                      </tbody>
                  </table>

                  <div class="row-fluid">
                      <label for="teamsForToken">Equipe : </label>
                      <select id="teamsForToken" onchange="teamTokenLink()">
                          {% for equipe in equipes %}
                              <option value="{{ equipe.id }}">{{ equipe.nom }}</option>
                          {% endfor %}
                      </select>
                      <br/>
                      <label for="countTokenInput">Nombre d'inscriptions : </label>
                      <input type="number" step="1" value="1" min="1" max="350" id="countTokenInput"/>
                      <br/>
                      <a class="btn btn-success" href="{{ path('token_new') }}" onmousedown="teamTokenLink()" id="tokenLink"><i class="fa fa-plus"></i> Nouveau Jeton</a>
                      <script>
                          var link="{{ path('token_new') }}";
                          function teamTokenLink(){
                              var e = document.getElementById("teamsForToken");
                              var strUser = e.options[e.selectedIndex].value;
                              document.getElementById('tokenLink').setAttribute("href",link+"/"+strUser+"/"+document.getElementById('countTokenInput').value);
                              setTimeout(teamTokenLink, 100);
                          }
                          setTimeout(teamTokenLink, 100);
                      </script>
                  </div>
              </div>

		<div id="confianceItems"  class="tab-pane fade">
			<table class="table table-condensed">
		        <thead>
                            <th>Id</th>
		            <th>Nom</th>
		            <th>Valeur</th>
		            <th>Couleur</th>
		            <th>Code d'Inscription</th>
		            <th>Privileges</th>
		        </thead>
		        <tbody>
		        
				
					{% for i in form.confianceItems %}
				    <tr>
                                        <td>{{i.vars.value.id}}</td>
                                    <td><label>{{ form_row(i.nom,{'label':2}) }}</label></td>
				    <td>{{ form_row(i.valeur, {'label':'false'}) }}</td>
				    <td>{{ form_row(i.couleur, {'label':'false'}) }}</td>
				    <td>{{ form_row(i.code) }}</td>
				    <td>{{ form_row(i.privileges) }}</td>
				    <td>
                                        <a class="btn btn-danger" href="{{ path('confiance_delete', { 'id': i.vars.value.id }) }}"><i class="fa fa-remove"></i> Supprimer</a></td>
				    </tr>
					{% endfor %}
				
		        </tbody>
	    	</table>
				
						         
			
			<br/>
			<a class="btn btn-success" href="{{ path('confiance_new') }}">Nouveau niveau</a>
		</div>
		
		<div id="materielItems" class="tab-pane fade">
			<table class="table table-condensed">
		        <thead>
		            <th>Nom</th>
		            <th>Catégorie</th>
		            <th>Type</th>
		            <th></th>
		        </thead>
		        <tbody>
		        
					{% for i in form.materielItems %}
				    <tr>
				    <td>{{ form_row(i.nom) }}</td>
				    <td>{{ form_row(i.categorie) }}</td>
				    <td>{{ form_row(i.type) }}</td>
				    <td><a class="btn btn-danger" href="{{ path('materiel_delete', { 'id': i.vars.value.id }) }}"><i class="fa fa-remove"></i> Supprimer</a></td>
				    </tr>
				{% endfor %}
				
		        </tbody>
	    	</table>

			<div class="row-fluid">
				<a class="btn btn-success" href="{{ path('materiel_new') }}"><i class="fa fa-plus"></i> Nouveau matériel</a>
			</div>
	</div>
    <div style="display: none">
    {{ form_rest(form) }}
    </div>
        
    </p>
    </div>
    <div class="form-actions row-fluid">
    <button class="btn btn-primary" type="submit">Enregistrer la configuration</button>
    </div>
    
</form>

{% endblock %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block editAction %}
{% endblock %}
{% block deleteAction %}
{% endblock %}

{% endblock %}