{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Effectuer un virement' %}

{% block content %}
<form class="form-horizontal" action="{{ path('comptesPerso_virement') }}" method="post" {{ form_enctype(form) }}>
	<div class="row-fluid">
		<h2>Effectuer un virement</h2>
			{{ form_row(form.destinataire) }}
			{{ form_row(form.montant) }}
			{{ form_row(form.raison) }}
	</div>	
	<div class="form-actions">
              	    <div class="btn-toolbar">
              	       
	         			<button class="btn btn-success" type="submit">
	         			    Confirmer
	         			</button>
	         								
					</div>
              </div>
            </div>

	

	</div>
	{% if form.confirm is defined %}
	{{ form_widget(form.confirm) }}
	{% endif %}
	{{ form_widget(form._token) }}
</form>
{% endblock %}

{% block actions %}
{% endblock %}


