<h1>Timespan list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Begintime</th>
            <th>Endtime</th>
            <th>Orgasneeded</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('timespan_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.begintime %}{{ entity.begintime|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.endtime %}{{ entity.endtime|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.orgasneeded }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('timespan_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('timespan_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('timespan_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
