{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}

    <script type="text/javascript">

        function Ctrl($scope) {


            $scope.addHoraire = function() {
                $scope.horaires.push({"jour": "Samedi", "debut": "18h00", "fin": "20h00"});
            }

            $scope.remHoraire = function(index) {
                $scope.horaires.splice(index, 1);
            }

            {% if entity.horaires is not null  %}
                    $scope.horaires = {{ entity.horaires | json_encode()| raw}};{% else %}
                            $scope.horaires = [];
            {% endif %}

        }
    </script>

        <form class="form-inline" action="{{ path('artiste_edit',{"id":entity.id}) }}" method="post" {{ form_enctype(form) }} >
            <div class="row-fluid" ng-app ng-controller="Ctrl">

                <div class="span7">
                    <fieldset>
                        <legend class="statut{{entity.statut }}">
                            {% if entity.statut ==0 %}<i class="fa fa-pencil"></i> {% endif %}
                            {% if entity.statut ==2 %}<i class="fa fa-check"></i> {% endif %}
                            Fiche artiste {{ entity.nom }} - Infos Générales <a class="btn btn-small" href="{{ path("artiste_index") }}"><i class="fa fa-share"></i> Retour</a>
                        </legend>
                        <div class="row-fluid">
                            <div class="span12">
                                {{ form_widget(form._token) }}
                                {{ form_row(form.entity.nom,{'attr':{'class':'input-block-level'}}) }}
                                {{ form_row(form.entity.stage,{'attr':{'class':'input-block-level'}}) }}
                                {{ form_row(form.entity.description) }}
                                {{ form_row(form.entity.position,{'attr':{'class':'input-block-level'}}) }}
                                {{ form_row(form.entity.websiteUrl,{'attr':{'class':'input-block-level'}}) }}
                                {{ form_row(form.entity.facebookUrl,{'attr':{'class':'input-block-level'}}) }}
                                {{ form_row(form.entity.twitterUrl,{'attr':{'class':'input-block-level'}}) }}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Photos</legend>

                        <div class="row-fluid">
                            <ul>
                                {% for photo in entity.photos %}
                                    <li>
                                        <img src='/up/artistsPicturesMobile/{{ photo.nom|url_encode }}' style='max-width: 150px; max-height: 150px'> 
                                        <a href="{{ path('artiste_delete_photo', {'id': photo.id, 'token': csrf_token('artiste_delete_photo')}) }}"><i class="fa fa-remove"></i></a>
                                    </li>
                                {% else %}
                                    <li><i>Aucune photo actuellement !</i></li>
                                {% endfor %}
                            </ul>    
                            {{ form_row(form.photo) }}
                        </div>
                    </fieldset>
                </div>
                <div class="span5">
                    <fieldset>
                        <legend>Horaires 
                            <a class="btn btn-success btn-small" ng-click="addHoraire()"><i class="fa fa-plus"></i></a>
                        </legend>

                        <div class="row-fluid">
                            <ul>
                                <li ng-repeat="h in horaires">
                        
                                    <select class="input-medium" name="assomaker_animbundle_artistetype[entity][horaires][{%raw%}{{$index}}{% endraw %}][jour]" ng-model="h.jour">
                                        <option>Vendredi</option>
                                        <option>Samedi</option>
                                        <option>Dimanche</option>
                                    </select>
                        
                                    <select class="input-small" name="assomaker_animbundle_artistetype[entity][horaires][{%raw%}{{$index}}{% endraw %}][debut]" ng-model="h.debut">
                                        {% for i in 18..23 %}
                                            {% for j in ['00','15', '30', '45'] %}
                                                <option>{{ i~'h'~j }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for i in 0..4 %}
                                            {% for j in ['00','15', '30', '45'] %}
                                                <option>{{ i~'h'~j }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <i class="fa fa-arrow-right"></i>
                                    <select class="input-small" name="assomaker_animbundle_artistetype[entity][horaires][{%raw%}{{$index}}{% endraw %}][fin]" ng-model="h.fin">
                                        {% for i in 18..23 %}
                                            {% for j in ['00','15', '30', '45'] %}
                                                <option>{{ i~'h'~j }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for i in 0..4 %}
                                            {% for j in ['00','15', '30', '45'] %}
                                                <option>{{ i~'h'~j }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                    <a class="btn btn-small btn-danger" ng-click="remHoraire($index)"><i class="fa fa-remove"></i></a>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <fieldset>
                        <legend>Commentaires</legend>
                        <div class="row-fluid">
                            <ul>
                                {% for c in entity.commentaires%}
                                    <div class="com">
                                        <div class="com_infos">{{loop.index}}/{{loop.length}}
                                            <span class="com_auteur">{{ c.auteur }}</span>
                                            <span class="com_heure"> {{ c.date|format_datetime('EEEE dd MMM HH:mm') }}</span>
                                        </div>
                                        <span class="com_texte">{{  entitiesMacro.iconCom(c) }} {{c.texte}} {{  entitiesMacro.supTextCom(c) }}</span>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="row-fluid">
                            {{ form_row(form.commentaire) }}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-fluid">
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit" name="action" value="save">Enregistrer les modifications</button>
                    {% if entity.statut == 0 %}
                        <button class="btn btn-success" type="submit" name="action" value="submit_publish"><i class="fa fa-check"></i> Publier</button>
                    {% elseif entity.statut == 2 %}
                        <button class="btn btn-warning" type="submit" name="action" value="unpublish"><i class="fa fa-undo"></i> Annuler la publication</button>
                    {% endif %}
                </div>
            </div>
        </form>
{% endblock %}